<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>API测试工具 - lvy</title>
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}xizhi/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}xizhi/js/cookies.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
body {
	padding-top: 60px; /* 为顶部菜单让出空间 */
	padding-bottom:40px;
}
</style>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
    <a class="brand" href="#">WEB API测试工具</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">HELP 请咨询吕阳</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
    <button class="btn btn btn-success" onclick="callApi()">调用API</button>
    </div>
  </div>
</div>

<div class="container"> 
  <!---row1 第1行开始--->
  <div class="row">
  	<div class="span4">
        <blockquote>
        	<p>用户参数配置</p>
            <small class="pull-right">用户可选、比选参数，eg：token</small>
        </blockquote>
    </div>
    <div class="span8">
    	<blockquote>
        	<p>服务器数据交互</p>
            <small class="pull-right">使用AJax与服务器进行交互，服务器直接返回JSON数组</small>
            
        </blockquote>
    </div>
  </div>
  <!---row1 第1行结束--->  
  <br /><br />
  <!---row2 第2行--->
  <div class="row">
    <div class="span4">
      <div>
      	<input id="key" type="text" class="span3" placeholder="KEY由服务器推送" readonly="readonly" />
		<span class="help-inline" id="err_key" style="color:red;"></span>
        <p class="help-block">KEY是与服务器交互中必须的参数。</p>
        <br />
        <button class="btn btn-primary" onclick="getKeys()"><i class="icon-repeat icon-white"></i> 加载KEY</button>                
      </div>
      <br />
      <div>
      	<div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            API函数库 - 请求接口函数
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="get_function_ul">
            
          </ul>
        </div>
        <br />
        <input type="text" id="api_url" class="span4" placeholder="API请求地址由于函数库提供" value="&nbsp;" />
        <br />
        <button class="btn btn-primary"><i class="icon-repeat icon-white"></i> 重新加载函数库</button>
      </div>
      <br />
      <div>
      	<div class="btn-group" data-toggle="buttons-radio">
          <button name="method_radio" class="btn active" value="get">GET请求</button>
          <button name="method_radio" class="btn" value="post">POST请求</button>
        </div>
        <p class="help-block">METHOD发动请求方式</p>
      </div>
      <br />
      <div>
      	<div class="btn-group" data-toggle="buttons-radio">
          <button name="async_radio" class="btn active" value="true">异步请求</button>
          <button name="async_radio" class="btn" value="false">同步请求</button>
        </div>
        <p class="help-block">ASYNC交互请求方式</p>
      </div>
      <br />
      <div lvy="key_val">
      	<div>
        	<input type="text" class="span1" placeholder="KEY" name="key" />
            <input type="text" class="span2" placeholder="VALUE" name="val" />
            <button class="btn btn-primary"  style="margin-top:-10px;" onclick="del_prameter(this)"><i class="icon-minus-sign icon-white"></i></button>
        </div>
      </div>
      <br />
      <div>
      	<div>
        	<button class="btn btn-primary"  style="margin-top:-10px;" onclick="add_prameter()"><i class="icon-plus-sign icon-white"></i></button>
        </div>
      </div>
    </div>
    
    <div class="span8">
    	<div>
        	<button class="btn btn-info"><i class="icon icon-share-alt"></i> 发送数据</button>
        </div>
        <br />
      	<div>
       		<pre id="sendData" class="pre-scrollable"></pre>
        </div>
        <br />
        <div>
        	<button class="btn btn-info"><i class="icon icon-retweet"></i> 服务器返回数据</button>
        </div>
        <br />
      	<div>
       		<pre id="getData" style="width:750px;height:430px;" class="pre-scrollable">
			</pre>
        </div>
		<br />
      	<div id="err_msg" style="display:none;">
       		<label><i class="icon icon-remove"></i><b></b></label>
        </div>
    </div>    
  </div>
  <!---row2 第2行结束--->
	
</div>
<br /><br /><br />
<div class="container">
	<footer>
    	<p>&copy; 习之科技API测试 2012</p>
    </footer>
</div>
<script type="text/javascript">
	$(document).ready(function(e) {
		getFunction();
		//method_radio
		$("[name='method_radio']").bind("click",function(){getMethod(this)});
		//async_radio
		$("[name='async_radio']").bind("click",function(){getAsync(this)});
	});
	
	//1.获取KEY
	function getKeys(){
		$.ajax({
			type:"get",
			url:"{% url protocol_request_key %}",	
			async:true,
			timeout:5000,
			dataType:"json",
			error: function(){
				$("#err_key").html("加载失败");
			},
			success: function(data){
				$("#err_key").html("");
				$("#key").val(data.client_key);
				//alert(data.client_key);
			}
		});
	}
	
	//2.获取函数库
	function getFunction(){
		$("#get_function_ul").html();
		$.getJSON("{% url get_json %}",function(json){
			for(var i=0; i<json.interfacedata.length;i++){
				var v1 = json.interfacedata[i].name;
				var v2 = json.interfacedata[i].index;           
				var v3 = json.interfacedata[i].url;
				var li_ele = document.createElement("li");
				var a_ele = document.createElement("a");
				$(a_ele).attr("href","#");
				$(a_ele).bind("click",function(){
					setApiUrl(this);	
				});
				$(a_ele).html(v1);
				$(a_ele).attr("rel",json.http + v3);
				$(li_ele).append(a_ele);
				$("#get_function_ul").append(li_ele);
			}
		});	
	}
	//2.1 根据函数库选项 获取api url
	function setApiUrl(obj){
		//根据获取值改变
		$("#api_url").val($(obj).attr("rel"));
	}
	
	//3 获取请求发动方式
	method_radio = "get";
	function getMethod(obj){
		var v1 = $(obj).val();
		method_radio = v1;
		return method_radio;
	} 
	//3.1 获取Async 发送方式
	async_radio = "true";
	function getAsync(obj){
		var v1 = $(obj).val();
		async_radio = v1;
		return async_radio;
	}
	//3.2 获取api url
	function getApiUrl(){
		if($("#api_url").val()==null || $("#api_url").val()==""){
			$("#err_msg b").html("API没有选择，出现严重错误！");
			$("#err_msg").show("slow");
			return;
		}else{
			return $("#api_url").val();
		}
	}
	
	//4 获取到cookies中的 xx
	function getSession(){
		
	}
	
	//4.1发送数据
	function callApi(){
		//清除错误提示
		$("#err_msg").hide("fast");
		
		var mr = method_radio;
		var ar = async_radio;
		var gu = getApiUrl();
		var da = get_prameter();
		var sendData = "METHOD:" + mr + "\r\n";
		sendData += "ASYNC:" + ar + "\r\n";
		sendData += "API URL:" + gu + "\r\n";
		sendData += "Data:\r\n" + da;
		$("#sendData").html(sendData);
		
		$.ajax({
			url:gu,
			type:method_radio,
			async:async_radio,
			contentType:"application/x-www-form-urlencoded",
			timeout:50000,
			data:da,
			error: function(){
				$("#err_msg b").html("网络出现错误，请重试！");
				$("#err_msg").show("fast");
			},
			success:function(json){
				//$("#getData").load("{% url get_json %}");
				$("#getData").html(json);
			}
		});
	}
	
	//添加参数列表
	function add_prameter(){
		var div_ele = document.createElement("div");
		
		var input_ele = document.createElement("input");
		$(input_ele).attr("type","text");
		$(input_ele).addClass("span1");
		$(input_ele).attr("placeholder","KEY");
		$(input_ele).attr("name","key");
		$(div_ele).append(input_ele);
		
		var input_ele = document.createElement("input");
		$(input_ele).css("margin-left","4px");
		$(input_ele).attr("type","text");
		$(input_ele).addClass("span2");
		$(input_ele).attr("placeholder","VALUE");
		$(input_ele).attr("name","val");
		$(div_ele).append(input_ele);
		
		var button_ele = document.createElement("button");
		$(button_ele).css("margin-left","4px");
		$(button_ele).addClass("btn btn-primary");
		$(button_ele).css("margin-top","-10px");
		
		var i_ele = document.createElement("i");
		$(i_ele).addClass("icon-minus-sign icon-white");
		$(button_ele).append(i_ele);
		$(button_ele).bind("click",function(){
			del_prameter(this);	
		});
		$(div_ele).append(button_ele);
		
		$("[lvy='key_val']").append(div_ele);
	}
	//删除参数列表
	function del_prameter(obj){
		//获取当前行的父节点
		$(obj).parent().remove();
	}
	
	//获取所有参数值
	function get_prameter(){
		var pra = "";
		for(var i =0 ; i < document.getElementsByName("key").length; i++){
			//将每一个key添加到数组中
			//key[i] = document.getElementsByName("key").item(i).value;
			//val[i] = document.getElementsByName("val").item(i).value;
			pra += document.getElementsByName("key").item(i).value + "=" + document.getElementsByName("val").item(i).value + "&";
		}
		//pra = pra.substring(0,pra.length-1);
		pra += "client_key" + "=" + $("#key").val();
		return pra;
	}
</script>
</body>
</html>
