<div class="booktype-top">
	<div class="box box-large">
		<div class="box box-medium booktype-img">
			<a href="#" >
				<img src="#" />
			</a>
		</div>
		<div class="booktype-info">
			<a href="#" class="booktype-title">
				科普
			</a>
			<label class="booktype-desc">
				我是科普类的书籍，你自己看着办！！！
			</label>
		</div>
		<div class="booktype-books">
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-like rfloat">
				1
			</div>
			<div class="box box-small rfloat">
				<img src="{{STATIC_URL}}base/img/like.png" />
			</div>
		</div>
	</div>
	
	<div class="box box-large">
		<div class="box box-medium booktype-img">
			<a href="#" >
				<img src="#" />
			</a>
		</div>
		<div class="booktype-info">
			<a href="#" class="booktype-title">
				科普
			</a>
			<label class="booktype-desc">
				我是科普类的书籍，你自己看着办！！！
			</label>
		</div>
		<div class="booktype-books">
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-like rfloat">
				2
			</div>
			<div class="box box-small rfloat">
				<img src="{{STATIC_URL}}base/img/like.png" />
			</div>
		</div>
	</div>
	
	<div class="box box-large">
		<div class="box box-medium booktype-img">
			<a href="#" >
				<img src="#" />
			</a>
		</div>
		<div class="booktype-info">
			<a href="#" class="booktype-title">
				科普
			</a>
			<label class="booktype-desc">
				我是科普类的书籍，你自己看着办！！！
			</label>
		</div>
		<div class="booktype-books">
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-like rfloat">
				3
			</div>
			<div class="box box-small rfloat">
				<img src="{{STATIC_URL}}base/img/like.png" />
			</div>
		</div>
	</div>
	
	<!-- 展开按钮 -->
	<div id="extend_type" class="box box-next"></div>
</div>
<!-- 被隐藏的分类 -->
<div class="booktype-other">
	<div class="box box-large">
		<div class="box box-medium booktype-img">
			<a href="#" >
				<img src="#" />
			</a>
		</div>
		<div class="booktype-info">
			<a href="#" class="booktype-title">
				科普
			</a>
			<label class="booktype-desc">
				我是科普类的书籍，你自己看着办！！！
			</label>
		</div>
		<div class="booktype-books">
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-small">
				<a href="#" >
					<img src="#" />
				</a>
			</div>
			<div class="box box-like rfloat">
				4
			</div>
			<div class="box box-small rfloat">
				<img src="{{STATIC_URL}}base/img/like.png" />
			</div>
		</div>
	</div>
</div>
<div class="separate"></div>