<div class="row">
	<div class="span12">
	    <ul class="breadcrumb">
	    	<input type="hidden" value="{{cateName}}" id="cate_name" />
	        <li><a href="##" onclick="getByCate('soldCount', '{{cateName}}')">销售</a> <span class="divider">|</span></li>
	        <li><a href="##" onclick="getByCate('price', '{{cateName}}')">价格</a> <span class="divider">|</span></li>
	        <li><a href="##" onclick="getByCate('cmtsCount', '{{cateName}}')">评论数</a> <span class="divider">|</span></li>
	        <li><a href="##" onclick="getByCate('regDate', '{{cateName}}')">上架时间</a> <span class="divider">|</span></li>
	        <li><a href="##" onclick="getByCate('pubDate', '{{cateName}}')">出版时间</a> <span class="divider">|</span></li>
	    </ul>
	</div>
</div>
<!-- 书籍列表 -->
<div class="row-fluid">
	{% include "base/books.html" %}
</div>

<div class="pagination pull-right">
	{% include "books/includes/book_paginator.html" %}
</div>
