<div class="separate"></div><!-- 页面底部 -->

<div class="footer">
<div class="center">
  <div class="part">
    <p>关于我们</p>

    <ul>
      <li>人才招聘</li>

      <li>联系我们</li>

      <li>新闻中心</li>
    </ul>
  </div>

  <div class="part">
    <p>友情链接</p>

    <ul>
      <li><a href="http://www.yanduren.com">Yanduren</a></li>

      <li><a href="http://www.dannysite.net">DannySite</a></li>

      <li><a href="http://www.lianbi.com.cn">LianBi</a></li>
      
      <li><a href="http://www.lershare.com">Leshare</a></li>
    </ul>
  </div>

  <div class="part">
    <p>帮助中心</p>

    <ul>
      <li>付款与退换</li>

      <li>发货和配送</li>

      <li>购物指南</li>
    </ul>
  </div>
</div>
</div>
