<div class="header">
<div class="logo"><img src="" /></div>

<div class="search">
  <div class="search-btn">
  	<form action="{% url book_search %}" method="get">
	    <input id="name" name="name" type="text" class="search-inp" placeholder="Search" value="" />
	    <input type="submit" value="搜 索" class="mbtn mbtn-info" />
  	</form>
  </div>

  <div class="search-hot">
    <label class="f-red">热门搜索:</label> 
    <a class="f-black" href="/books/getbyname/?name=小王子">小王子</a>
    <a class="f-black" href="/books/getbyname/?name=烟花">烟花</a> 
    <a class="f-black" href="/books/getbyname/?name=数学">数学</a> 
    <a class="f-black" href="/books/getbyname/?name=django">Django</a>
  </div>
</div>

<div class="userinfo">
	{% if user.is_authenticated %}
		您好，{{profile.name}}<br />
		<a href="{% url profiles_setting %}"><input type="button" class="mbtn mbtn-info" value="设 置" /></a>
		<a href="{% url acct_logout %}"><input type="button" class="mbtn" value="退 出" /></a>
	{% else %}
		<a href="{% url acct_login %}"><input type="button" class="mbtn mbtn-info" value="登 录" /></a>
		<a href="{% url acct_signup %}"><input type="button" class="mbtn" value="注 册" /></a>
	{% endif %}
</div>
</div>

<div class="separate"></div>