{% load filters %}
{% for book in hotTwo %}
<li class="span4">
	<div class="thumbnail">
	  <img src="{{ MEDIA_URL }}img/{{book.mpic}}" alt="">
		<div class="caption">
			<div style="height:202px">
				<h3>{{book.name}}</h3>
				<p>{{book.desc|default:"暂无简介"|truncatehanzi:90}}……</p>
			</div>
			<p>
				<a href="{% url book_detail book.id %}" class="btn btn-primary"><i class="icon-barcode icon-white"></i> 详情</a> 
				{% if not user.is_authenticated %}
					<a href="{% url acct_login %}" class="btn"><i class="icon-shopping-cart"></i> 加入购物车</a>
				{% else %}
					{% if book in profile.getCartBooks %}
						<a href="{% url book_cart_check %}" class="btn btn-info" ><i class="icon-shopping-cart"></i> 已加入购物车</a>
					{% else %}
						<a id="add_{{book.id}}" href="##" class="btn" onclick="addToCart({{book.id}})"><i class="icon-shopping-cart"></i> 加入购物车</a>
						<a id="added_{{book.id}}" href="{% url book_cart_check %}" class="btn btn-info" style="display: none"><i class="icon-shopping-cart"></i> 已加入购物车</a>
					{% endif %}
				{% endif %}
			</p>
		</div>
	</div>
</li>
{% endfor %}
