<!-- 推荐 -->
<div class="books-recommend">
	<div class="books-recommend-list">
		<div>
			<p class="books-recommend-p">
				推荐|Recommend
			</p>
		</div>
		<!-- NOTICE !!!!!!! Bookuid IS Required-->
		<div class="books-recommend-ul" data-bookuid="007" >
			<div class="box box-medium">
				<img src="#" />
			</div>
			<div class="books-recommend-simple">
				<ul>
					<li>
						<a href="#" class="title">
							标题
						</a>
					</li>
					<li>
						<label class="author">
							作者
						</label>
					</li>
					<li>
						<div class="desc">
							简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="books-recommend-ul">
			<div class="box box-medium">
				<img src="#" />
			</div>
			<div class="books-recommend-simple">
				<ul>
					<li>
						<a href="#" class="title">
							标题
						</a>
					</li>
					<li>
						<label class="author">
							作者
						</label>
					</li>
					<li>
						<div class="desc">
							简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="books-recommend-ul">
			<div class="box box-medium">
				<img src="#" />
			</div>
			<div class="books-recommend-simple">
				<ul>
					<li>
						<a href="#" class="title">
							标题
						</a>
					</li>
					<li>
						<label class="author">
							作者
						</label>
					</li>
					<li>
						<div class="desc">
							简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="books-recommend-ul">
			<div class="box box-medium">
				<img src="#" />
			</div>
			<div class="books-recommend-simple">
				<ul>
					<li>
						<a href="#" class="title">
							标题
						</a>
					</li>
					<li>
						<label class="author">
							作者
						</label>
					</li>
					<li>
						<div class="desc">
							简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="books-recommend-info">
		<div class="box box-big">
			
		</div>
		<div class="books-recommend-detail">
			<a class="title" href="#">
				梦里花落知多少
			</a>
			<label class="author">
				作者：小四
			</label>
			<div class="evaluate">
				<label class="author">
					评价：
				</label>
				★★★★☆
			</div>
		</div>
		<div class="desc">
<pre>
在爱的幸福国度你就是我唯一 在爱的幸福国
度你就是我唯一但我珍惜你但我珍惜你但我珍

惜 我唯一爱的就是你 我唯一爱的就是你但我珍惜你但我珍惜你但我珍惜你
我真的爱就是你 我真的爱就是你但我珍惜你但我珍惜

你 但我珍惜你但我珍惜你但我珍惜你但我珍惜你但我珍惜你但我珍但我珍惜你但我珍 失去才会懂得珍惜
失去才会懂得珍惜但我珍惜你但我珍惜你 但我珍
惜你 但我珍惜你但我珍惜你但我珍惜你 伤越痛就是爱越深 但我珍惜你但我珍惜你但我珍惜你 我不相信但我珍惜你但我珍惜你但我珍惜你但我珍惜你
你和我同时停止但我珍惜你但我珍惜你呼吸 每一

次我们靠近但我珍惜你但我珍惜你 你让我忘了困惑但我珍惜你但我珍惜你但我珍惜你但我珍但我珍惜你但我珍但我珍惜你但我珍
忘了所有烦心但我珍惜你但我珍惜你 我把你紧紧拥入怀里

但我珍惜你但我珍惜你 捧你在我手心但我珍惜你但我珍惜你但
我珍惜你但我珍但我珍惜你但我珍但我珍惜你但我珍
谁叫我真的爱的就是你但我珍惜你但我珍惜你
</pre>
		</div>
	</div>
</div>
<div class="separate">
</div>