<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<script type="text/javascript" src="{{STATIC_URL}}xizhi/js/jquery-1.8.2.min.js"></script>
<script src="{{STATIC_URL}}xizhi/js/secure.js"></script>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" />

{% block extra_js %}{% endblock %}
{% block extra_css %}{% endblock %}
</head>
<body>
<div class="frame_all">
    <!-- header -->
    <div class="frame_top"> 
    {% block topbar_base %}
        {% block topbar %}
            <!-- Logo -->
            <span style="font-size: 20px;" class="logo">习之</span>
            
            {% block nav %}
                {% block main_nav %} 
                {% endblock %}
                
                {% block sub_nav %} {% include "account/includes/account_bar.html" %}
                {% endblock %}
            {% endblock %}
        {% endblock %}
    {% endblock %}
    </div>
    
    <!-- body -->
    <div class="frame_center">
    {% block frame_base %}
        {% block message %} {% include "base/messages.html" %} {% endblock %}
        
        {% block body_base %}
            {% block body %}{% endblock %}
        {% endblock %}
        
        {% block sidebar %} {% endblock %}
    {% endblock %}
    </div>
    <!-- footer -->
    <div class="frame_footer">
    {% block footer_base %}
        <!--{% block footer %} {% include "base/footer.html" %} {% endblock %}-->
    {% endblock %}
    </div>
    
</div>

<!--仅在需要的页面加载该项 TODO-->
{% block back_top %} {% endblock %}

</body>

</html>
