<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>

<!-- Other Page Single Javascript File
===============-->
{% block single_js %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/base/css/base.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/base/css/header.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/base/css/footer.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/base/css/common.css" />
<!-- Other Page Single Style File
===============-->
{% block style_js %}{% endblock %}
</head>

<body>
		
</body>

</html>
