<!--- 热点评论段落    开始 --->
{% if mostAgreedComments %}
	<div class="comment_title"><img src="{{STATIC_URL}}lershare/img/comment_top.jpg" width="1000" height="51"></div>
	<div class="comment_content">
		
		{% if mostAgreedComments %}
		{% for cmt1 in mostAgreedComments %}
		<!--- 评论主体内容开始 --->
		<div class="comment_along">
			<div class="pic_name">
				<div class="pic"><a href="{% url profiles_user_home cmt1.publisher.id %}"><img src="{{ MEDIA_URL }}img/{{cmt1.publisher.small_pic}}" alt="" width="64" height="64" border="0"></a></div>
				<div class="name"><a href="{% url profiles_user_home cmt1.publisher.id %}">{{cmt1.publisher.name}}</a></div>
			</div>
			<div class="input_box">
				<div class="seat_top">
					<div class="seat_top_left"><img src="{{STATIC_URL}}lershare/img/comment_1.jpg" width="38" height="24" /></div>
					<div class="seat_top_center"></div>
					<div class="seat_top_right"><img src="{{STATIC_URL}}lershare/img/comment_4.jpg" width="26" height="24" /></div>
					<div style="clear:both;"></div>
				</div>
				<div class="seat_middle">
					<div class="seat_middle_left">
						<div class="seat_triangle"></div>
					</div>
					<div class="seat_middle_center_right">
						<div class="seat_middle_center">
							<div class="comment_script_1st">
								{{cmt1.content}}
							</div>
							{% ifnotequal cmt1.getAllReplys.count 0 %}
							<div class="comment_script_2nd">
							{% for replies in cmt1.getAllReplys %}
								<div class="comment_2nd_pic"><a href="{% url profiles_user_home replies.publisher.id %}" title="到Ta的主页"><img src="{{ MEDIA_URL }}img/{{replies.publisher.small_pic}}" width="30" height="30" border="0"></a></div>
								<div class="comment_2nd_script"><a href="{% url profiles_user_home replies.publisher.id %}" title="到Ta的主页">{{replies.publisher.name}}：</a>{{replies.content}}</div>
								<div class="comment_2nd_time">{{replies.created_date|date:"Y-m-d H:i"}}</div>
								<div class="dotted_line"></div>
								<div style="clear:both;"></div>
							{% endfor %}
							</div>
							{% endifnotequal %}
						</div>
						<div style="clear:both;"></div>
					</div>
					<div style="clear:both;"></div>
				</div>
				
				<div class="seat_bottom">
					<div class="seat_bottom_left"><img src="{{STATIC_URL}}lershare/img/comment_3.jpg" width="38" height="50" /></div>
					<div class="seat_bottom_right"><img src="{{STATIC_URL}}lershare/img/comment_5.jpg" width="26" height="50" /></div>
					{% if user.is_authenticated %}<!--- 如果登陆 --->
					{% ifnotequal profile cmt1.publisher %}
					<div class="seat_bottom_center">
						<div class="comment_function">
							{% ifequal profile cmt1.activity.publisher %}
							<img src="{{STATIC_URL}}lershare/img/function_1.jpg" width="16" height="16" class="pic_size_middle">
							<a href="###" onclick="open_comment_reply('{{cmt1.publisher.name}}',{{cmt1.id}})" >回复</a>
							{% endifequal %}
							<img src="{{STATIC_URL}}lershare/img/function_2.jpg" width="16" height="16" class="pic_size_middle">
							{% if cmt1.agreed %}
							<a href="###">赞（{{cmt1.agree_count}}）</a>
							{% else %}
							<a href="javascript:void(0)" onclick="supportComment(this,{{cmt1.id}})">赞（{{cmt1.agree_count}}）</a>
							<a href="javascript:void(0)" id="{{cmt1.id}}_agreed" style="display: none;">赞（<label>{{cmt1.agree_count}}</label>）</a>
							{% endif %}
						</div>
					</div>
					{% else %}
					<div class="seat_bottom_center">
						<div class="comment_function">
							<img src="{{STATIC_URL}}lershare/img/function_2.jpg" width="16" height="16" class="pic_size_middle">
							<a href="###">赞（{{cmt1.agree_count}}）</a>
						</div>
					</div>
					{% endifnotequal %}
					{% else %}
					 <div class="seat_bottom_center">
                        <div class="comment_function">
                            <img src="{{STATIC_URL}}lershare/img/function_2.jpg" width="16" height="16" class="pic_size_middle">
                            <a href="{% url acct_login %}">赞（{{cmt1.agree_count}}）</a>
                        </div>
                    </div>  
					{% endif %}
					<div style="clear:both;"></div>
				</div>
			</div>
			<div class="time">{{cmt1.created_date|date:"Y-m-d H:i"}}</div>
			<div style="clear:both;"></div>
		</div>
		<!--- 评论主体内容结束 --->
		{% endfor %}
		{% endif %}
		
		<div style="clear:both;"></div>
	</div>
<!--- 热点评论段落    结束 --->
{% endif %}
<!--- 普通评论段落    开始 --->
	<div class="comment_title"><img src="{{STATIC_URL}}lershare/img/comment_otner.jpg" width="1000" height="51"></div>
	<div class="comment_content">
		
		{% for cmt in pageItems.object_list %}
		<!--- 评论主体内容开始 --->
		<div class="comment_along">
			<div class="pic_name">
				<div class="pic"><a href="{% url profiles_user_home cmt.publisher.id %}"><img src="{{ MEDIA_URL }}img/{{cmt.publisher.small_pic}}" width="64" height="64" border="0"></a></div>
				<div class="name"><a href="{% url profiles_user_home cmt.publisher.id %}">{{cmt.publisher.name}}</a></div>
			</div>
			<div class="input_box">
				<div class="seat_top">
					<div class="seat_top_left"><img src="{{STATIC_URL}}lershare/img/comment_1.jpg" width="38" height="24" /></div>
					<div class="seat_top_center"></div>
					<div class="seat_top_right"><img src="{{STATIC_URL}}lershare/img/comment_4.jpg" width="26" height="24" /></div>
					<div style="clear:both;"></div>
				</div>
				<div class="seat_middle">
					<div class="seat_middle_left">
						<div class="seat_triangle"></div>
					</div>
					<div class="seat_middle_center_right">
						<div class="seat_middle_center">
							<div class="comment_script_1st">
								{{cmt.content}}
							</div>
							{% ifnotequal cmt.getAllReplys.count 0 %}
							<div class="comment_script_2nd">
								{% for replies in cmt.getAllReplys %}
								<div class="comment_2nd_pic"><a href="{% url profiles_user_home replies.publisher.id %}" title="到Ta的主页"><img src="{{ MEDIA_URL }}img/{{replies.publisher.small_pic}}" width="30" height="30" border="0"></a></div>
								<div class="comment_2nd_script"><a href="{% url profiles_user_home replies.publisher.id %}" title="到Ta的主页">{{replies.publisher.name}}：</a>{{replies.content}}</div>
								<div class="comment_2nd_time">{{replies.created_date|date:"Y-m-d H:i"}}</div>
								<div class="dotted_line"></div>
								<div style="clear:both;"></div>
								{% endfor %}
							</div>
							{% endifnotequal %}
						</div>
						<div style="clear:both;"></div>
					</div>
					<div style="clear:both;"></div>
				</div>
				
				<div class="seat_bottom">
					<div class="seat_bottom_left"><img src="{{STATIC_URL}}lershare/img/comment_3.jpg" width="38" height="50" /></div>
					<div class="seat_bottom_right"><img src="{{STATIC_URL}}lershare/img/comment_5.jpg" width="26" height="50" /></div>
					<!--- 如果是自己的回复，那么将不会出现 回复 和 赞选项 --->
					{% if user.is_authenticated %}
						{% ifnotequal profile cmt.publisher %}
					<div class="seat_bottom_center">
						<div class="comment_function">
							{% ifequal profile cmt.activity.publisher %}
							<img src="{{STATIC_URL}}lershare/img/function_1.jpg" width="16" height="16" class="pic_size_middle">
							<a href="###" onclick="open_comment_reply('{{cmt.publisher.name}}',{{cmt.id}})" >回复</a>
							{% endifequal %}
							<img src="{{STATIC_URL}}lershare/img/function_2.jpg" width="16" height="16" class="pic_size_middle">
							{% if cmt.agreed %}
							<a href="javascript:void(0)">赞（{{cmt.agree_count}}）</a>
							{% else %}
							<a href="javascript:void(0)" onclick="supportComment(this,{{cmt.id}})">赞（{{cmt.agree_count}}）</a>
							<a href="javascript:void(0)" id="{{cmt.id}}_agreed" style="display: none;">赞（<label>{{cmt.agree_count}}</label>）</a>
							{% endif %}
						</div>
					</div>
					{% else %}
					<div class="seat_bottom_center">
						<div class="comment_function">
							<img src="{{STATIC_URL}}lershare/img/function_2.jpg" width="16" height="16" class="pic_size_middle">
							<a href="###">赞（{{cmt.agree_count}}）</a>
						</div>
					</div>
						{% endifnotequal %}
					{% else %}
					<div class="seat_bottom_center">
						<div class="comment_function">
							<img src="{{STATIC_URL}}lershare/img/function_2.jpg" width="16" height="16" class="pic_size_middle">
							<a href="{% url acct_login %}">赞（{{cmt.agree_count}}）</a>
						</div>
					</div>
					{% endif %}
					<div style="clear:both;"></div>
				</div>
			</div>
			<div class="time">{{cmt.created_date|date:"Y-m-d H:i"}}</div>
			<div style="clear:both;"></div>
		</div>
		{% endfor %}
		<!--- 评论主体内容结束 --->
		
	</div>
<!--- 普通评论段落    结束 --->