{% extends "base/theme_base.html" %}
{% block body %}
	<div>
		<input type="text" lyu="Email" bl="Email_msg" value="www.lvyang@qq.com" />
		<label id="Email_msg"></label>
		<br /><br />
		<input type="password" lyu="Password" bl="Password_msg" value="000000" />
		<label id="Password_msg"></label>
		<br /><br />
		<input type="password" lyu="PasswordConfirm" bl="PasswordConfirm_msg" value="000000" />
		<label id="PasswordConfirm_msg"></label>
		<br /><br />
		<input type="text" lyu="NickName" bl="NickName_msg" value="NickName" />
		<label id="NickName_msg"></label>
		<br /><br />
		<input type="text" lyu="ActivityTitle" bl="ActivityTitle_msg" value="ActivityTitle" />
		<label id="ActivityTitle_msg"></label>
		<br /><br />
		<input type="text" lyu="ActivityAddress" bl="ActivityAddress_msg" value="ActivityAddress" />
		<label id="ActivityAddress_msg"></label>
		<br /><br />
		<input type="text" lyu="Money" bl="Money_msg" value="Money" />
		<label id="Money_msg"></label>
		<br /><br />
		<input type="text" lyu="ActivityDesc" bl="ActivityDesc_msg" value="ActivityDesc" />
		<label id="ActivityDesc_msg"></label>
		<br /><br />
		<input type="text" lyu="ProfilesDesc" bl="ProfilesDesc_msg" value="ProfilesDesc" />
		<label id="ProfilesDesc_msg"></label>
		<br /><br />
		<input type="text" lyu="ProfilesWebSite" bl="ProfilesWebSite_msg" value="ProfilesWebSite" />
		<label id="ProfilesWebSite_msg"></label>
		<br /><br />
		
		<input type="button" value="验证" onclick="v()" /><label id="ooook"></label>
	</div>
{% endblock %}

{% block extra_js %}
<script src="{{STATIC_URL}}lyu/plug-in.js"></script>
<script>
$(document).ready(function(){
	//加载验证项目
	lyu_load();
	//加载按钮样式
	$("[type='button']").button();
	//按钮上的验证方法
});
function v(){
	$("#ooook").html("");
	if(!check_email_lyu($("[lyu='Email']"))){
		return false;
	}
	if(!check_password_lyu($("[lyu='Password']"))){
		return false;
	}
	if(!check_passwordConfirm_lyu($("[lyu='PasswordConfirm']"))){
		return false;
	}
	if(!check_nickName_lyu($("[lyu='NickName']"))){
		return false;
	}
	//全部验证成功 然后执行
	$("#ooook").html("√");
}
</script>
{% endblock %}
