{% extends "base/theme_base.html" %}

{% block page_title %}购物车{% endblock %}

{% block single_js %}
	<script type="text/javascript" src="{{STATIC_URL}}base/js/secure.js"></script>
	<script type="text/javascript">
		function makeOrder(){
			var temp = $('#form_cart').serialize();
			$.ajax({
				url: "/books/make_order/", 
				data: temp,
				type: "post", 
				async: "true", 
				success: function(data){
					if(data.status=="success"){
						window.location.href='/books/make_order/';
					}
					else{
						alert(data.status);
					}
				}, 
				error: function(){
					alert("error");
				}, 
				dataType: "json"
			});
		}
		
		function delFromCart(bookId){
			$.ajax({
				url: "/books/del_from_cart/" + bookId, 
				data: {}, 
				type: "post", 
				async: "true", 
				success: function(data){
					if(data.status=="success"){
						$("#item_"+bookId).hide(300);
					}
					else{
						alert(data.status);
					}
				}, 
				error: function(){
					alert("error");
				}, 
				dataType: "json"
			});
		}
	</script>
{% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
            <h1>购物车</h1>
        </div>
        {% if cart.getBooks %}
			<div id="cart_book_list">
				{% include "books/includes/booklist.html" %}
			</div>
		{% else %}
			<div class="span12 text-center well">
		    	<h3>哎呀！购物车还是空的呢！</h3>
		        <h4>再去看看有没有喜欢的书？</h4>
		        <a href="{% url 'welcome' %}" class="btn btn-info"><i class="icon icon-chevron-right icon-white"></i> 去首页</a>
		    </div>
		{% endif %}
	</div>
</div>
{% endblock %}		
