{% extends "base/theme_base.html" %}

{% block page_title %}{{book.name}} - 书籍详情{% endblock %}

{% block single_js %}
	<script src="{{STATIC_URL}}base/js/secure.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#tab1").delegate("#pre, #next, #num", "click", function(){
				cmtPageTurn(this, '{{book.id}}');
			});
			$("#tab1").delegate("#goto_page", "click", function(){
				cmtPageTurn(this, '{{book.id}}');
			});
		});
		
		function cmtPageTurn(obj, bookId){
			var pageIndex = "";
			if($(obj).attr("rel")==="userinput"){
				pageIndex = $("#userinput_page").val();
			}else{
				pageIndex = $(obj).attr("rel");
			}
			$.ajax({
				url: "/books/page_cmts/" + bookId, 
				data: {"page": pageIndex}, 
				type: "get", 
				async: "true", 
				success: function(data){
					if(data.status=="success"){
						$("#tab1").html(data.html);
					}else{
						alert(data.status);
					}
				}, 
				error: function(){
					alert("error");
				}, 
				dataType: "json"
			});
		}
		
		//检查字符串是否为空 true表示为空 false表示不为空
		function isNull(value){
			if(trim(value)==""){
				return true;
			}else{
				return false;
			}
		}
		function trim(str){
			return str.replace(/(^\s*)|(\s*$)/g,"");
		}
		
		function addToCart(bookId){
			$.ajax({
				url: "/books/add_to_cart/" + bookId,
				data: {}, 
				type: "post",
				async: "true", 
				success: function(data){
					if(data.status=="success"){
						$("#add").hide();
						$("#added").show();
					}
					else{
						alert(data.status);
					}
				},
				error: function(){
					alert("error");
				}, 
				dataType: "json"
			});
		}
		
		function mark(bookId){
			var grade = $("#grade").val();
			if(grade < 1){
				alert("最低分为1分");
				return;
			}
			
			$.ajax({
				url: "/books/mark_book/" + bookId,
				data: {"grade": grade}, 
				type: "post",
				async: "true", 
				success: function(data){
					if(data.status=="success"){
						$("#mark_grade").hide();
						$("#marked").show();
					}
					else{
						alert(data.status);
					}
				},
				error: function(){
					alert("error");
				},
				dataType: "json"
			});
		}
		
		function addComment(bookId){
			var cmtContent = $("#comment").val();
			if(isNull(cmtContent)){
				alert("评论内容不能为空！");
				return;			}
			
			$.ajax({
				url: "/books/add_comment/" + bookId,
				data: {"cmtContent": cmtContent}, 
				type: "post",
				async: "true",
				success: function(data){
					if(data.status=="success"){
						$("#commentsArea").html(data.html);
					}
					else{
						alert(data.status);
					}
				},
				error: function(){
					alert("error");
				}, 
				dataType: "json"
			});
			$("#comment").val('')
		}
	</script>
{% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="span2">
    	<div class="page-header">
            <h1>推荐</h1>
      	</div>
    	
    	<ul class="thumbnails">
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>吸血鬼的故事</h5>
            </a>
          </li>
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>吸血鬼的故事2</h5>
            </a>
          </li>
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>吸血鬼的故事3</h5>
            </a>
          </li>
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>吸血鬼的故事4</h5>
            </a>
          </li>
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>吸血鬼的故事5</h5>
            </a>
          </li>
        </ul>
        
        <div class="page-header">
            <h1>新书</h1>
        </div>
    	
    	<ul class="thumbnails">
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>新书1</h5>
            </a>
          </li>
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>新书2</h5>
            </a>
          </li>
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>新书3</h5>
            </a>
          </li>
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>新书4</h5>
            </a>
          </li>
          <li class="span12 text-center">
            <a href="#" class="thumbnail">
              <img src="static/base/img/de.png" alt="">
              <h5>新书5</h5>
            </a>
          </li>
        </ul>
    </div>
    <div class="span9 offset1">
        <div class="page-header">
            <h1>{{book.name}}</h1>
        </div>
        <div class="row-fluid">
        <!-- 缩略图 -->
        	<div class="span4">
            	<ul class="thumbnails">
                  <li class="span12">
                    <div class="thumbnail">
                      <img src="{{ MEDIA_URL }}img/{{book.lpic}}" alt="">
                    </div>
                  </li>
                </ul>
            </div>
        <!-- 详细参数 -->
        	<div class="span8">
                <dl class="dl-horizontal">
                    <dt>作者：</dt>
                    <dd>{{book.author.name}}</dd>
                    <dt>出版社：</dt>
                    <dd>{{book.press}}</dd>
                    <dt>ISBN：</dd>
                    <dd>{{book.isbn}}</dt>
                    <dt>发布时间：</dd>
                    <dd>{{book.publish_date}}</dt>
                    <dt>页数：</dd>
                    <dd>{{pages}}页</dt>
                    <dt>装帧：</dd>
                    <dd>{{book.binding}}</dt>                                                
                    <dt>开本：</dd>
                    <dd>32开</dt>                        
                    <dt>版本：</dd>
                    <dd>1</dt>           
                    <dt>库存：</dd>
                    <dd>{{book.stock}}</dt>
                    <dt>售价：</dd>
                    <dd>{{book.price}}元</dt>                                     
                </dl>
            </div>            
        </div>
        
        <div class="row-fluid">
        <!-- Share 
            <div class="span4">
                <small>分享至</small> 新浪微博 腾讯微博
            </div>  
         -->
        <!-- buy -->
            <div class="span8">
                <button class="btn btn-success pull-right"><i class="icon-shopping-cart icon-white"></i> 购买</button>
            </div>           
        </div>
        
        <br />
        <ul class="breadcrumb" id="breadcrumb_menu">
          <li><a href="#content_intro" class="lead"><small>内容简介</small></a> <span class="divider">|</span></li>
          <li><a href="#authot_intro" class="lead"><small>作者简介</small></a> <span class="divider">|</span></li>
          <li><a href="#other_books" class="lead"><small>该作者其他书籍</small> </a><span class="divider">|</span></li>
          <li><a href="#valuation" class="lead"><small>用户评价</small></a></li>           
        </ul>
                    
        <div class="row-fluid">
        	<div class="page-header">
                <h3 id="content_intro">内容简介：</h3>
            </div>
            <div class="span12">
            	{{book.desc}}
                <p><a href="#breadcrumb_menu"><span class="badge badge-success"><i class="icon-circle-arrow-up icon-white"></i> Top</span></a></p>
            </div>
        </div>
        <div class="row-fluid">
        	<div class="page-header">
                <h3 id="authot_intro">作者简介：</h3>
            </div>
            <div class="span12">
                {{book.author.desc}}
                <p><a href="#breadcrumb_menu"><span class="badge badge-success"><i class="icon-circle-arrow-up icon-white"></i> Top</span></a></p>
            </div>
        </div>
        <div class="row-fluid">
        	<div class="page-header">
            	<h3 id="other_books">该作者的其他书籍</h3>
            </div>
            <div class="span12">
            	<ul class="thumbnails">
                    <li class="span2 text-center">
                        <a href="#" class="thumbnail">
		                    <img src="static/base/img/de.png" alt="">
                            <small>Book Name</small>
        	            </a>
                    </li>
                    <li class="span2 text-center">
                        <a href="#" class="thumbnail">
		                    <img src="static/base/img/de.png" alt="">
                            <small>Book Name</small>
        	            </a>
                    </li>
                    <li class="span2 text-center">
                        <a href="#" class="thumbnail">
		                    <img src="static/base/img/de.png" alt="">
                            <small>Book Name</small>
        	            </a>
                    </li>
                    <li class="span2 text-center">
                        <a href="#" class="thumbnail">
		                    <img src="static/base/img/de.png" alt="">
                            <small>Book Name</small>
        	            </a>
                    </li>
                    <li class="span2 text-center">
                        <a href="#" class="thumbnail">
		                    <img src="static/base/img/de.png" alt="">
                            <small>Book Name</small>
        	            </a>
                    </li>
                    <li class="span2 text-center">
                        <a href="#" class="thumbnail">
		                    <img src="static/base/img/de.png" alt="">
                            <small>Book Name</small>
        	            </a>
                    </li>
                </ul>
                <p><a href="#breadcrumb_menu"><span class="badge badge-success"><i class="icon-circle-arrow-up icon-white"></i> Top</span></a></p>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="page-header">
            	<h3 id="valuation">评价</h3>
            </div>
        	<div class="span12">
            	<div class="progress progress-striped active">
                  <div class="bar bar-success" style="width: 50%;">好评</div>
                  <div class="bar bar-warning" style="width: 30%;">中评</div>
                  <div class="bar bar-danger" style="width: 20%;">差评</div>
                </div>
            </div>
            <div class="span12">
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">全部评价</a></li>
                    <li><a href="#tab2" data-toggle="tab">好评</a></li>
                    <li><a href="#tab3" data-toggle="tab">中评</a></li>
                    <li><a href="#tab4" data-toggle="tab">差评</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                    {% include "books/includes/comments.html" %}
                    </div>
                    <div class="tab-pane" id="tab2">
                    {% include "books/includes/comments.html" %}
                    </div>
                    <div class="tab-pane" id="tab3">
                    	{% include "books/includes/comments.html" %}
                    </div>
                    <div class="tab-pane" id="tab4">
                    {% include "books/includes/comments.html" %}
                    </div>
                  </div>
                </div>
            </div>
        </div>            
    </div>
</div>	
{% endblock %}
