<html>
	<body>
		{% if cart.getBooks %}
		<form action="/books/submit_order/" method="post">
			{% csrf_token %}
			书籍清单：<br />
			<a href="{% url book_cart_check %}">返回修改购物车</a><br />
			{% for item in cart.getItems %}
				<img src="{{ MEDIA_URL }}img/{{item.book.spic}}" />&nbsp;&nbsp;
				《{{item.book.name}}》&nbsp;&nbsp;
				 {{item.amount}}本&nbsp;&nbsp;
				 {{item.book.price}}元<br /><br />
			{% endfor %}
			送货地址：<input type="text" name="addr" id="addr" value="{{profile.addr}}"/><br />
			联系方式：<input type="text" name="contact" id="contact" value="{{profile.contact}}"/>
			<input type="checkbox" id="default" name="default"/>保存为默认收货方式<br />
			总计：{{cart.getTotalFee}}元
			<input type="submit" value="提交" />
		</form>
		{% else %}
			您还没有选择书籍呢！
		{% endif %}
	</body>
</html>