<html>
	<head>
		<script src="{{STATIC_URL}}xizhi/js/jquery-1.8.2.min.js"></script>
		<script src="{{STATIC_URL}}xizhi/js/secure.js"></script>
	</head>
	<body>
		<h4>{{profile.name}}，欢迎进入您的购物车</h4><br />
		{% include "books/includes/booklist.html" %}
		<br /><br />
		<input type="button" value="下订单" onclick="makeOrder()" />
		
		<script type="text/javascript">
			function makeOrder(){
				
				var temp = $('#form_cart').serialize();
				$.ajax({
					url: "/books/make_order/", 
					data: temp,
					type: "post", 
					async: "true", 
					success: function(data){
						if(data.status=="success"){
							window.location.href='/books/make_order/';
						}
						else{
							alert(data.status);
						}
					}, 
					error: function(){
						alert("error");
					}, 
					dataType: "json"
				});
			}
		</script>
				
	</body>
</html>