{% extends "base/theme_base.html" %}

{% block page_title %}购物车{% endblock %}

{% block single_js %}
	<script type="text/javascript" src="{{STATIC_URL}}base/js/secure.js"></script>
	<script type="text/javascript">
		function makeOrder(){
			var temp = $('#form_cart').serialize();
			$.ajax({
				url: "/books/make_order/", 
				data: temp,
				type: "post", 
				async: "true", 
				success: function(data){
					if(data.status=="success"){
						window.location.href='/books/make_order/';
					}
					else{
						alert(data.status);
					}
				}, 
				error: function(){
					alert("error");
				}, 
				dataType: "json"
			});
		}
		
		function delFromCart(bookId){
			$.ajax({
				url: "/books/del_from_cart/" + bookId, 
				data: {}, 
				type: "post", 
				async: "true", 
				success: function(data){
					if(data.status=="success"){
						$("#cart_book_list").html(data.html);
					}
					else{
						alert(data.status);
					}
				}, 
				error: function(){
					alert("error");
				}, 
				dataType: "json"
			});
		}
	</script>
{% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
            <h1>购物车</h1>
        </div>
		<div id="cart_book_list">
			{% include "books/includes/booklist.html" %}
		</div>
	</div>
</div>
{% endblock %}
		
				
