<table class="table table-hover">
	<thead>
        <tr>
            <th class="span1">#</th>
            <th class="span1">书名</th>
            <th class="span1">单价(元)</th>
            <th class="span1">数量(本)</th>
            <th class="span1">总价(元)</th>
            <th class="span1">状态</th>
            <th class="span1">操作</th>
        </tr>
    </thead>
    <tbody>
	{% for order in pageItems.object_list %}
			<tr id="order_{{order.id}}">
				<td colspan="4">订单号：{{order.code}} <label class="label">{{order.created_date|date:"Y-m-d H:i"}}</label></td>
			    <td><label class="label">{{order.total_fee}}</label></td>
			    <td colspan="1">
			    	{% ifequal order.status 1 %}
				    	<label class="label label-success">
			    	{% endifequal %}
			    	{% ifequal order.status 0 %}
			    		<label class="label label-important">
			    	{% endifequal %}
			    	{% ifequal order.status 2 %}
			    		<label class="label label-info">
			    	{% endifequal %}
			    	{% ifequal order.status 3 %}
			    		<label class="label label-warning">
			    	{% endifequal %}
			    			{{order.getStatus}}
			    		</label>
				</td>
			    <td><a javascript:void(0) onclick="delOrderByProfile({{order.id}})" class="btn btn-danger btn-small">删除</a></td>
			</tr>
			{% for item in order.getItems %}
				<tr data-order="order_{{order.id}}" >
					<td class="span1">
				        <a href="{% url 'book_detail' item.book_id %}"><img class="span12" src="{{ MEDIA_URL }}img/{{item.book.spic}}" alt=""></a>
				    </td>
				    <td>{{item.book.name}}</td>
				    <td>{{item.book.price}}</td>
				    <td>{{item.amount}}</td>
				    <td>{{item.fee}}</td>
				    <td>/</td>
				    <td>
				    	{% ifequal order.status 1 %}
				    		<a href="{% url 'book_comment' item.book_id %}" class="btn btn-info btn-small">评论</a> 
				    	{% endifequal %}
				    </td>
				</tr>
			{% endfor %}
	{% endfor %}
    </tbody>
</table>

<div class="pagination pull-right">
	{% include "books/includes/book_paginator.html" %}
</div>