
<div class="hero-unit">
    <h1>{{taProfile.name}}</h1>
    <p>{{taProfile.desc}}</p>
    <p><a class="btn btn-primary btn-large">关注我 &raquo;</a></p>
</div>

<div class="row">
    <div class="span3">
        <img src="{{ MEDIA_URL }}img/{{taProfile.big_pic}}"/>
	</div>
	
	<div class="span4">
		<span class='label label-important' style="font-size:15px;">年龄</span>
		<b>20岁</b>
		<br /><br />
		<span class='label label-important' style="font-size:15px;">性别</span>
		<b>{{taProfile.sex}}</b>
		<br /><br />
		<span class='label label-important' style="font-size:15px;">居住地</span>
		<b>{{taProfile.city.name}}</b>
		<br /><br />
	</div>
	
	<div class="span4">
		<span class='label label-important' style="font-size:15px;">个人标签</span>
		{% for tag in taProfile.getOwnedTags %}
		  <b>{{tag.label}}</b>
		{% endfor %}
	</div>
</div>
