{% extends "base/theme_base_lyu.html" %}

{% block title %} 首页 {% endblock %}

{% block message %} {% include "base/messages.html" %} {% endblock %}

{% block body %}
<div class="container">
    <br/><br />
    <div class="row">
    	<div class="span6">
    		<div class="input-prepend">
    			<b class="label label-info">活动城市</b>
    			<span id="city-span">全国</span>
    			<input id="id_city" style="display: none;" value="1"/>
				<a href="#city-list" rel="facebox">切换城市</a>
				{% include "base/citylist.html" %}
    		</div>
    		<div class="input-prepend">
    			<b class="label label-info">活动类型</b>
    			<b id="type_act_val">全部类型</b>
    			<a href="#type_act" rel="facebox">选择活动类型</a>
    			<input id="id_category" style="display: none;" />
				<div id="type_act" style="display:none;">
					<span class="tab-subject">点击选择：</span>
					<hr /><br />
					{% for category in categorys %}
					<a href="javascript:void(0)" lvy="type_act" onClick="getVal_type(this)" rel="{{category.id}}" >{{category.label}}</a> &nbsp;
					{% endfor %}
				</div>
				<label lvy="" id="btn_serach_act" class="btn btn-large">确认</label>
    		</div>
    	</div>
    	<div class="span4">
    		<a class="btn btn-large" href="{% url activity_create %}">我要创建活动</a>
    	</div>
    </div>
    <br /><br />
    <div class="row">
    	<div class="span5">
    		<div id="latest-act">
				{% include "activity/includes/latest_activity.html" %}
			</div>
    	</div>
    	<div class="span5">
    		<div id="hotest-act">
		    	{% include "activity/includes/hotest_activity.html" %}
		    </div>
    	</div>
    </div>
</div>	
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}facebox/css/facebox.css" />
{% endblock %}
{% block extra_js %}
<script src="{{STATIC_URL}}facebox/js/facebox.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
    $("[rel='facebox']").facebox();
    
    $("#btn_serach_act").bind("click",function(){
			serachAct();
		});
	})
	function getVal_type(obj){
		$("#type_act_val").html($(obj).html());
		$("#id_category").val($(obj).attr("rel"));
		jQuery(document).trigger('close.facebox');
	}
	function serachAct(){
		var v1 = $("#id_city").val();
		var v2 = $("#id_category").val();
		
		alert(v1 + "-" + v2);
		
		$.get('{% url activity_get_on_terms %}?cityId='+v1+'&categoryId='+v2,
			function(data){
				if(data.status == '0') {
					$("#latest-act").html(data.latestHtml);
					$("#hotest-act").html(data.hotestHtml);
				}
				else{
					alert(data.status);
				}
			},
			"json"
			)
	}
</script>
{% endblock %}