*{ margin:0px; padding:0px; font-size:12px; font-family:"黑体"}
.container{ width:1000px; height:auto; margin:20px; margin:0px auto;}

.left{ width:340px; height:800px; float:left;}
.left div{ margin-bottom:20px;}
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
.text{ width:240px; height:29px; text-indent:10px;}
.text1{ width:340px; height:29px; text-indent:10px;}
.text2{ width:120px; height:29px; text-indent:10px;}
.button{ height:30px; padding-left:10px; padding-right:10px; cursor:pointer; float:right;}
.button1{ height:30px; padding-left:10px; padding-right:10px; cursor:pointer; float:left;}
.select{ height:30px; cursor:pointer; width:240px; text-indent:5px;}

.right{ width:640px; height:800px; float:right;}
.right div{margin-bottom:20px;}
.textarea{ width:640px; height:100px; max-width:640px; max-height:100px;}
.textarea1{ width:640px; height:200px; max-width:640px; max-height:200px;}