{% extends "base/theme_base.html" %}

{% load widget_tweaks %}

{% block page_title %}管理员登录{% endblock %}

{% block message %} {% include "base/messages.html" %} {% endblock %}

{% block header %}
	<div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="{% url management %}">BookStore管理后台</a>
      </div>
    </div>
{% endblock %}

{% block style_css %}
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}base/css/login.css" />
{% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="page-header">
        <h1>管理员登录</h1>
    </div>
    <div class="container">
		<form action="{% url admin_login %}" method="post" class="form-signin" >
		    {% csrf_token %}
			{{ form.email|attr:"placeholder:邮箱" }}<br />
		
			{{ form.password|attr:"placeholder:密码" }}<br />
			
			<button class="btn btn-large btn-primary" type="submit" >登录</button>
		</form>
	</div>
</div>
{% endblock %}