{% extends "base/theme_base.html" %}

{% load widget_tweaks %}

{% block page_title %}修改密码{% endblock %}

{% block message %} {% include "base/messages.html" %} {% endblock %}

{% block single_js %}
<script type="text/javascript" src="{{STATIC_URL}}base/js/plug-in.js"></script>
<script>
	$(document).ready(function(){
		lyu_load();
	});
	function check_updatePwd(){
		if(!check_oldPassword_lyu($("[lyu='OldPassword']"))){
			return false;
		}
		if(!check_newPassword_lyu($("[lyu='NewPassword']"))){
			return false;
		}
		if(!check_newPasswordConfirm_lyu($("[lyu='NewPasswordConfirm']"))){
			return false;
		}
	}
</script>
{% endblock %}   

{% block body_base %}
<div class="row-fluid">
	<div class="page-header">
        <h1>修改密码</h1>
    </div>
    <div class="container">
    	<form action="{% url 'acct_change_pwd' %}" method="post">
    	{% csrf_token %}
    		{{pwdform.oldpassword|attr:"lyu:OldPassword"|attr:"bl:OldPassword_msg"|attr:"placeholder:原密码"|attr:"type:password"}} <label id="OldPassword_msg" class="label label-warning"></label><br />
    	
    		{{pwdform.password1|attr:"lyu:NewPassword"|attr:"bl:NewPassword_msg"|attr:"placeholder:新密码"|attr:"type:password"}} <label id="NewPassword_msg" class="label label-warning"></label><br />
    		
    		{{pwdform.password2|attr:"lyu:NewPasswordConfirm"|attr:"bl:NewPasswordConfirm_msg"|attr:"placeholder:重复新密码"|attr:"type:password"}} <label id="NewPasswordConfirm_msg" class="label label-warning"></label><br />
    	
    		<button class="btn btn-success btn-small" type="submit" id="btn_login" onclick="return check_updatePwd()">
				<i class="icon-ok icon-white"></i> 确认修改
			</button>&nbsp;
			<a href="{% url 'profiles_setting' %}">取消</a>
    	</form>
	</div>
</div>
{% endblock %}
