{% extends "base/theme_base.html" %}

{% load widget_tweaks %}

{% block page_title %}登录{% endblock %}

{% block message %} {% include "base/messages.html" %} {% endblock %}

{% block style_css %}
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}base/css/login.css" />
{% endblock %}

{% block single_js %}
<script type="text/javascript" src="{{STATIC_URL}}base/js/plug-in.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}base/js/secure.js"></script>
<script>
	$(document).ready(function(){
		lyu_load();
	});
	//change secure code，验证码
	function changeSecureCode(img_obj, url) {
	    //加一个随机参数，使得每次链接地址都不一样，从而达到更新的目的                          
	    $("#"+img_obj).attr("src",url+"?id="+Math.random());
	}
	//check secure code
	function check_secure_code() {
		if(checkSecureCode("{% url check_secure_code %}", $("#code-input").val())) {
			$("[lvy='err_msg_code']").html("");
			return true;	
		} else {
			$("[lvy='err_msg_code']").show();
			$("[lvy='err_msg_code']").html("验证码错误，重新输入！");
			$("#change-code").click(); //变换验证码
			$("#code-input").val("");
			//$("#code-input").focus();
			return false;
		}
	}
	//Ajax 检查验证码是否正确
	function checkSecureCode(checkUrl, code){
	    if(code == '' || code == null) {
	        return false;
	    }
	    var isSecureCodeRight = false;
	    $.ajax({url: checkUrl,
	        async:false,
	        type:"POST",
	        contentType:"application/json;charset=utf-8",
	        dataType:"json",
	        data:{"secureCode":code,},
	        success:function(data,textStatus,jqXHR){
	            if(data.status == "true"){
	                isSecureCodeRight = true;
	            } else {
	                isSecureCodeRight = false;        
	            }
	        }
	    });
	    return isSecureCodeRight;
	}
	function check_login(){
		if(!check_email_lyu($("[lyu='Email']"))){
			return false;
		}
		if(!check_password_lyu($("[lyu='Password']"))){
			return false;
		}
		"{% if request.session.failedLoginCount >= 1 %}"
		if(!check_secure_code()){
			check_secure_code();
			return false;
		}
		"{% endif %}"
		//todo success
	}
</script>
{% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="page-header">
        <h1>登录 BookStore</h1>
    </div>
    <div class="container">
		<form action="{% url acct_login %}" method="post" name="login_from" class="form-signin">
			{% csrf_token %}
			{{form.email|attr:"lyu:Email"|attr:"bl:Email_msg"|attr:"class:input-block-level"|attr:"placeholder:邮箱"}}<br />
			<label id="Email_msg" class="label label-warning"></label>
			
			{{form.password|attr:"lyu:Password"|attr:"bl:Password_msg"|attr:"class:input-block-level"|attr:"placeholder:密码"|attr:"type:password"}}<br />
			<label id="Password_msg" class="label label-warning"></label>
			
			{% if request.session.failedLoginCount >= 1 %}
				<input class="input-block-level auth-code" lvy="secure_code" type="text" id="code-input" maxlength="8" placeholder="验证码" />
				<img id="code-img" style=style="vertical-align:top; display:inline;" src="{% url new_secure_code %}" />
				<a id="change-code" onclick="changeSecureCode('code-img','{% url new_secure_code %}');" href="#">换一个</a><br />
				<label lvy="err_msg_code" class="label label-warning"></label>
			{% endif %}
			<input type="hidden" value="{{next}}" name="next" id="next" />
			<a href="{% url acct_reset_passwd %}">忘记密码？</a><br /><br />
			<button id="btn_login" class="btn btn-large btn-primary" type="submit" onclick="return check_login()">登录</button>
      	</form>
    </div>
</div>
    <!--{{motto.content}}<br />
    ————{{motto.author}}-->
{% endblock %}