{% extends "base/theme_base.html" %}

{% load widget_tweaks %}

{% block page_title %}设置新密码{% endblock %}

{% block single_js %}
<script type="text/javascript" src="{{STATIC_URL}}base/js/plug-in.js"></script>
<script>
	$(document).ready(function(){
		lyu_load();
	});
</script>
{%endblock%}

{% block body_base %}
	<div class="row-fluid">
		<div class="page-header">
            <h1>设置新密码</h1>
        </div>
        <div class="container">
        	{% if token_fail %}
        		<div class="span12 text-center well">
					<h3>对不起！密码重置链接无效</h3><br />
					<a href="{% url 'acct_reset_passwd' %}" class="btn btn-info"><i class="icon-chevron-right icon-white"></i> 重置密码</a>
        		</div>
			{% else %}
				{% if form %}
				    <form method="POST" action="" class="form-common">
				        {% csrf_token %}
				       		{{ form.password1|attr:"lyu:Password"|attr:"bl:Password_msg"|attr:"placeholder:新密码" }}
				       		<label id="Password_msg" class="label label-warning"></label><br />
				       		
				        	{{ form.password2|attr:"lyu:PasswordConfirm"|attr:"bl:PasswordConfirm_msg"|attr:"placeholder:重复密码" }}
				        	<label id="PasswordConfirm_msg" class="label label-warning"></label><br />
				        	
				        	<button type="submit" id="reg-submit" class="btn btn-success"><i class="icon icon-ok icon-white"></i> 设置</button>
				    </form>
				{% else %}
					<div class="span12 text-center well">
						<h3>密码重置成功!</h3>
						<h4>要牢记新密码哦</h4>	
						<a href="{% url 'acct_login' %}" class="btn btn-info"><i class="icon-chevron-right icon-white"></i> 登录</a>    
					</div>
			    {% endif %}
			{% endif %}
        </div>
	</div>
{% endblock %}

