{% extends "base/theme_base.html" %}

{% load widget_tweaks %}

{% block page_title %}重置密码{% endblock %}

{% block message %} {% include "base/messages.html" %} {% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="page-header">
        <h1>重置密码</h1>
    </div>
    <div class="container">
    	<form action="{% url 'acct_reset_passwd' %}" method="post">
    		{% csrf_token %}
    		{{resetForm.email|attr:"lyu:Email"|attr:"bl:Email_msg"|attr:"placeholder:邮箱"|attr:"class:span2"|attr:"type:text"|attr:"style:width:300px;"}}
    		<label id="Email_msg" class="label label-warning"></label><br />
    		
    		<button id="btn_login" class="btn btn-small btn-success" type="submit" onclick="return check_resetPwd()"><i class="icon icon-ok icon-white"></i> 确认</button>
    	</form>
    </div>
</div>
{% endblock %}

{% block single_js %}
<script type="text/javascript" src="{{STATIC_URL}}base/js/plug-in.js"></script>
<script type="text/javascript">
    $(document).ready(function(e) {
        lyu_load();
    });
    function check_resetPwd(){
    	if(!check_email_lyu($("[lyu='Email']"))){
			return false;
		}    	
    }
</script>
{% endblock %}