{% extends "base/theme_base.html" %}

{% load widget_tweaks %}

{% block page_title %}注册{% endblock %}

{% block message %} {% include "base/messages.html" %} {% endblock %}

{% block style_css %}
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}base/css/login.css" />
{% endblock %}

{% block single_js %}
<script type="text/javascript" src="{{STATIC_URL}}base/js/plug-in.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		lyu_load();
	});
	function check_reg(){
		if(!check_email_lyu($("[lyu='Email']"))){
			return false;
		}
		if(!check_password_lyu($("[lyu='Password']"))){
			return false;
		}
	}
</script>
{% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="page-header">
        <h1>注册</h1>
    </div>
    <div class="container">
		<form action="{% url acct_signup %}" method="post" class="form-signin">
			{% csrf_token %}
			{{form.email|attr:"lyu:Email"|attr:"bl:Email_msg"|attr:"placeholder:邮箱"|attr:"class:input-block-level"}}<br />
			<label id="Email_msg" class="label label-warning"></label>
			
			{{form.password|attr:"lyu:Password"|attr:"bl:Password_msg"|attr:"placeholder:预设密码"|attr:"class:input-block-level"}}<br />
			<label id="Password_msg" class="label label-warning"></label>
			
			{{form.nickname|attr:"lyu:Nickname"|attr:"bl:Nickname_msg"|attr:"placeholder:怎么称呼您？"|attr:"class:input-block-level"}}<br />
			<label id="Password_msg" class="label label-warning"></label>
			
			<button class="btn btn-large btn-primary" type="submit" id="btn_reg" onclick="return check_reg()">注册</button>
		</form>
    </div>
</div>
{% endblock %}


