{% extends "base/theme_base.html" %}

{% block page_title %}账号激活邮件发送完成{% endblock %}

{% block message %} {% include "base/messages.html" %} {% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="page-header">
        <h1>注册完成</h1>
    </div>
    <div class="span12 text-center well">
    	<h3>感谢您的注册！激活邮件已发送到{{email}}</h3>
        <h4>请登录邮箱完成账号激活</h4>
        <h5>没有收到邮件？检查下邮箱地址是否正确，或者看看是不是在垃圾邮件里</h5>
        <a href="{% url 'acct_signup' %}" class="btn btn-info"><i class="icon-chevron-right icon-white"></i> 重新注册</a>
        <a href="{% url 'acct_send_email' %}?email={{email}}" class="btn btn-info"><i class="icon-chevron-right icon-white"></i> 重发邮件</a>
    </div>
</div>
{% endblock %}
