{% extends "base/theme_base_lyu.html" %}

{% load widget_tweaks %}

{% block title %}创建活动{% endblock %}

{% block message %} {% include "base/messages.html" %}  {% endblock %}

{% block body %}
<div class="container">
	<br />
	<br />
	<br />
	<div class="row">
		<form action="{% url activity_create %}" method="POST">
		<div class="span6">
				{% csrf_token %}
				<div class="input-prepend">
					<span class="add-on"><i class="icon-home"></i> 活动标题 </span>{{form.title|attr:"lyu:ActivityTitle"|attr:"bl:ActivityTitle_msg"|attr:"class:span2"|attr:"text"|attr:"style:margin:0px;"}} <label id="ActivityTitle_msg" class="help-inline error_msg"></label>
				</div>
				<br />
				<div class="input-prepend">
					<span class="add-on"><i class="icon-th-large"></i> 活动分类 </span>
					{{form.category|attr:"style:margin:0px;"|attr:"class:span2"|attr:"select_focus:0"}}
				</div>
				<br />
				<div class="input-prepend">
					<span class="add-on"><i class="icon-map-marker"></i> 举办城市 </span>
					{{form.errors.city}}
					<span id="city-span">{{profile.city.name|default_if_none:"" }}</span>
					{{form.city|attr:"style:display:none;"}}
					<a href="#city-list" rel="facebox" title="点击选择活动举行城市">点击选择</a>
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-map-marker"></i> 活动地址 </span>{{form.address|attr:"lyu:ActivityAddress"|attr:"bl:ActivityAddress_msg"|attr:"text"|attr:"class:span2"|attr:"style:margin:0px;"|attr:"maxLength:30"}} <label id="ActivityAddress_msg" class="help-inline error_msg"></label>
				</div>
				<br />
				<div class="input-prepend input-append">
					<span class="add-on"><i class="icon-shopping-cart"></i> 活动费用 </span>{{form.price|attr:"lyu:Money"|attr:"bl:Money_msg"|attr:"type:text"|attr:"value:0"|attr:"class:span2"|attr:"style:margin:0px;"}}<span class="add-on">元</span>
					<label id="Money_msg" class="help-inline error_msg"></label>
				</div>
				<br />
				<div class="input-prepend">
					<span class="add-on"><i class="icon-time"></i> 开始日期 </span>{{form.startDate|attr:"lvy:from"|attr:"lyu:ActivityStartDate"|attr:"bl:ActivityStartDate_msg"|attr:"type:text"|attr:"readonly:true"|attr:"style:margin:0px;"|attr:"class:span2"}}
					<label id="ActivityStartDate_msg" class="help-inline error_msg"></label>
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-time"></i> 开始时间
					</span><select style="margin: 0px;" class="span1" select_focus=0 >
						<option>8点</option>
					</select>
					<select style="margin: 0px;" class="span1" select_focus=0 >
						<option>15分</option>
						<option>30分</option>
						<option>45分</option>
					</select>
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-time"></i> 结束日期 </span>{{form.endDate|attr:"lvy:to"|attr:"lyu:ActivityEndDate"|attr:"bl:ActivityEndDate_msg"|attr:"type:text"|attr:"readonly:true"|attr:"style:margin:0px;"|attr:"class:span2"}}
					<label id="ActivityEndDate_msg" class="help-inline error_msg"></label>
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-time"></i> 结束时间
					</span><select style="margin: 0px;" class="span1" select_focus=0 >
						<option>8点</option>
					</select>
					<select style="margin: 0px;" class="span1" select_focus=0 >
						<option>15分</option>
						<option>30分</option>
						<option>45分</option>
					</select>
				</div>
				<br />
				<div class="input-prepend">
					<span class="add-on"><i class="icon-align-justify"></i> 活动介绍 </span>
					{{form.desc|attr:"lyu:ActivityDesc"|attr:"bl:ActivityDesc_msg"|attr:"rows:5"|attr:"class:span4"|attr:"style:margin:0px;"|attr:"onfocus:check_wordLen()"|attr:"maxLength:200"}} <label id="ActivityDesc_msg" class="help-inline error_msg"></label>
					<span class="help-block"><i class="icon-font"></i> 已输入<b id="wordLen"></b></span>
					{{form.errors.desc}}
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-user"></i> 主办方 </span>
					{{form.organizer|attr:"lyu:ActivityOrganizer"|attr:"bl:ActivityOrganizer_msg"|attr:"style:margin:0px;"|attr:"maxLength:100"}} <label id="ActivityOrganizer_msg" class="help-inline error_msg">{{form.errors.organizer}}</label>
				</div>
				<br />
				<br />				
				<hr />
				<div>
					接下来，
					<br />
					<button class="btn btn-large" type="submit" onclick="return check_createAct()"><i class="icon-chevron-right"></i>上传活动海报</button>
				</div>
				{% include "base/citylist.html" %}
			
		</div>
		<div class="span4">
			<!--div class="input-prepend">
				<img src="{{ MEDIA_URL }}img/activity/{{fileName}}" width="100px" height="100px"/>
				<br />
				<a href="{% url activity_upload_poster %}" title="点击上传海报" class="label label-info">上传海报</a>
			</div-->
			<div class="input-prepend">
				<label class="label label-info"><i class="icon-adjust"></i> 在地图上选择活动地址</label>
				<br />
				<div id="map" style="width:370px;height:300px"></div>
				<input type="button" value="清除标注" onclick="clearMarkerNew()" />
				{{form.coordinates|attr:"id:locationXY"|attr:"display:none"|attr:"style:display:none;"}}
			</div>
		</div>
		</form>
	</div>
</div>

	
{% endblock %}	

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}facebox/css/facebox.css" />
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}xizhi/css/ui.css" />
{% endblock %}
	
{% block extra_js %}
	<script type="text/javascript" src="{{STATIC_URL}}lyu/plug-in.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}xizhi/js/ui-1.9.0.js"></script>
	<script src="{{ STATIC_URL }}facebox/js/facebox.js"></script>
	<script>
	$(document).ready(function(e) {
		lyu_load();
	    $('a[rel*=facebox]').facebox({
	        loadingImage : '{{ STATIC_URL }}facebox/img/loading.gif',
	        closeImage   : '{{ STATIC_URL }}facebox/img/closelabel.png'
	    });
	    //加载日期判断
		var nowTime = new Date();
		var nowYear = nowTime.getFullYear();
		var nowMonth = nowTime.getMonth();
		var nowDay = nowTime.getDate();
		
		$( "[lvy='from']" ).datepicker({
			minDate: new Date(nowYear, nowMonth, nowDay),
			defaultDate: "+0w",
			changeMonth: true,
			numberOfMonths: 1,
			showOn:"button",
			buttonImage: "{{STATIC_URL}}xizhi/css/images/calendar.gif",
			buttonImageOnly: true,
			onSelect: function( selectedDate ) {
				$( "[lvy='to']" ).datepicker( "option", "minDate", selectedDate );
				setTimeout(function(){
					check_activityStartDate_lyu($("[lyu='ActivityStartDate']"));
				},500);
			}
		});
		
		$( "[lvy='to']" ).datepicker({
			minDate: new Date(nowYear, nowMonth, nowDay),
			defaultDate: "+0w",
			changeMonth: true,
			numberOfMonths: 1,
			showOn: "button",
			buttonImage: "{{STATIC_URL}}xizhi/css/images/calendar.gif",
			buttonImageOnly: true,
			onSelect: function( selectedDate ) {
				$( "[lvy='from']" ).datepicker( "option", "maxDate", selectedDate );
				setTimeout(function(){
					check_activityEndDate_lyu($("[lyu='ActivityEndDate']"))
				},500);
			}
		});
		
	    //加载地图
	    loadScript();
	})
	//
	function check_createAct(){
		if(!check_activityTitle_lyu($("[lyu='ActivityTitle']"))){
			return false;
		}
		if(!check_activityAddress_lyu($("[lyu='ActivityAddress']"))){
			return false;
		}
		if(!check_activityDesc_lyu($("[lyu='ActivityDesc']"))){
			return false;
		}
		if(!check_activityStartDate_lyu($("[lyu='ActivityStartDate']"))){
			return false;
		}
		if(!check_activityEndDate_lyu($("[lyu='ActivityEndDate']"))){
			return false;
		}
		if(!check_money_lyu($("[lyu='Money']"))){
			return false;
		}
	}
	//检查字数
	function check_wordLen(){
		wordLen = setInterval(function(){
			var v1 = $("[lyu='ActivityDesc']").val();
			$("#wordLen").html(v1.length);
		},10);
	}
	</script>
	
<script>
    //map callback
    function initialize() {
        //alert("asd");
        baidu_mp = new BMap.Map('map');
        var point = new BMap.Point(121.491, 31.233);
        baidu_mp.centerAndZoom(point, 15);
        //定位
        gps_site();
        //添加鼠标单击事件
        clickXY();        
        //添加控件
        add_control();
    }
     
    //load map
    function loadScript() {
        //alert("asdd");
        var script = document.createElement("script");
        script.src = "http://api.map.baidu.com/api?v=1.3&callback=initialize";
        document.body.appendChild(script);
    }
    
    //addControl
    function add_control(){
        baidu_mp.addControl(new BMap.NavigationControl());  //添加缩放工具栏
        baidu_mp.enableScrollWheelZoom();   //添加鼠标滚轮
        baidu_mp.enableContinuousZoom();    //鼠标惯性拖拽
    }
    //添加鼠标点击获取经纬度事件
    //是否开启创建标注  map.removeEventListener("click", showInfo);
    var openTag = true;
    function clickXY(){
            baidu_mp.addEventListener("click",function(e){
                if(openTag){
                    var point = new BMap.Point(e.point.lng,e.point.lat);
                    //alert(e.point.lng+","+e.point.lat);
                    $("#locationXY").val(e.point.lng+","+e.point.lat);
                    markerNew = new BMap.Marker(point);
                    baidu_mp.addOverlay(markerNew);
                    
                    markerNew.enableDragging();    //允许拖动
                    baidu_mp.addOverlay(markerNew);
                    markerNew.addEventListener("dragend", function(e){
                        $("#locationXY").val(e.point.lng + "," + e.point.lat);
                        //alert($("#locationXY").val());
                    });
                    
                    openTag = false;
                }
           });
    }
    function clearMarkerNew(){
        if(!openTag){
            baidu_mp.removeOverlay(markerNew);
            openTag = true;
        }else{
            alert("标注还未创建!");
        }
    }
    //gps 当前城市
    function gps_site(){
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                baidu_mp.panTo(r.point);
                //alert('您的位置：'+r.point.lng+','+r.point.lat);
            }
            else {
                alert('failed'+this.getStatus() + "\r抱歉，IE浏览器不支持地图定位");
            }        
        })
    }
</script>
{% endblock %}