<p style="font-size: 50px;">最近更新活动</p>
<br />
{% for act in latestActivities %}
<div>    
    <a href="{% url activity_detail act.id %}"><img lvy="poster" style="width:100px; height:100px;" src="{{MEDIA_URL}}img/{{act.big_poster}}"  /></a>
    <a href="{% url activity_detail act.id %}" class="label label-success"> {{act.title}}</a><br /><br />
    <label lvy="event_time"><i class="icon-time"></i> 开始时间 {{act.start_date|date:"Y年m月d日 H:i"}}</label> 
    <label lvy="event_address"><i class="icon-map-marker"></i> {{act.address}}</label>
    <label lvy="publisher"><a href="{% url profiles_user_home act.publisher.id %}"><i class="icon-user"></i> {{act.publisher.name}}</a></label>
    <label lvy="creat_time"><i class="icon-time"></i> 发布时间 {{act.published_date|date:"Y年m月d日 H:i"}}</label>
    <label lvy="join_num"><i class="icon-star"></i> {{act.attendee_count}} <i class="icon-heart"></i> {{act.like_count}}</label>
</div>
{% endfor %}
