{% extends "base/theme_base.html" %}
{% block extra_css %}
<link href="{{STATIC_URL}}xizhi/css/api.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="container">
        <div class="ui-widget">
			<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding-top:5px; padding-left:5px; height:30px !important; height:35px;">
				<p>
                <span class="ui-icon ui-icon-home" style="float: left; margin-right: .3em;"></span>
				这里是习之活动开放API中心
                </p>
			</div>
		</div>
        
        <div class="left">
        	<div class="ui-state-active ui-corner-all" style="margin-top: 20px; padding: 3 .7em;">
				<p>
                <span class="ui-icon ui-icon-gear" style="float: left; margin-right: .3em;"></span>
				用户配置参数
                </p>
			</div>
            
            <div>
                <a href="#" id="dialog_link" class="ui-state-default ui-corner-all" title="Api来自习之活动">
                	<span class="ui-icon ui-icon-bookmark"></span>
                习之活动
                </a>
            </div>
            <div>
            	<input type="text" value="token" class="text ui-state-highlight ui-corner-all " />
                <input type="button" value="获取token" class="button ui-state-highlight ui-corner-all "/>
            </div>
            <div>
            	<select id="function_library" class="select ui-state-highlight ui-corner-all ">
                	<option>未加载成功</option>
                </select>
                <input type="button" value="函数库" class="button ui-state-highlight ui-corner-all " onClick="getini()" />
            </div>
            
            <div>
            	<input id="function_url" type="text" value="函数访问地址" class="text1 ui-state-highlight ui-corner-all " readonly />
            </div>
            
            <div>
            	<input type="radio" value="get" name="type" checked /><label>GET</label>
                <input type="radio" value="post" name="type" /><label>POST</label>
                <input type="button" value="API请求方式" class="button ui-state-highlight ui-corner-all " />
            </div>
			
			<div>
            	<select id="time_out" class="select ui-state-highlight ui-corner-all ">
                	<option value="3000">3秒</option>
					<option value="5000">5秒</option>
					<option value="10000">10秒</option>
                </select>
                <input type="button" value="超时时间" class="button ui-state-highlight ui-corner-all " />
            </div>
			
			<div>
            	<input type="radio" value="true" name="async" checked /><label>异步请求</label>
                <input type="radio" value="false" name="async" /><label>同步请求</label>
                <input type="button" value="async" class="button ui-state-highlight ui-corner-all " />
            </div>
			
			<div id="key_val">
				<div v="0" name="addparameter">
					<input type="text" value="email" name="key" class="text2 ui-state-active ui-corner-all " title="填写关键key" />
					<input type="text" value="xjbean@qq.com" name="val" class="text2 ui-state-active ui-corner-all " title="填写关键key对应value" />
					<input l="0" type="button" value="-" class="button ui-state-highlight ui-corner-all " />
	            </div>
				
				<div v="1" name="addparameter">
					<input type="text" value="password" name="key" class="text2 ui-state-active ui-corner-all " title="填写关键key" />
					<input type="text" value="123456" name="val" class="text2 ui-state-active ui-corner-all " title="填写关键key对应value" />
					<input l="1" type="button" value="-" class="button ui-state-highlight ui-corner-all " />
	            </div>
			</div>
            <div>
				<span>&nbsp;</span>
				<input id="addparameter" type="button" value="+" class="button ui-state-highlight ui-corner-all " />
			</div>
			
            <div>
            	<hr />
                <br />
            	<input type="button" value="调用API" class="button1 ui-state-error ui-corner-all " onclick="callapi();" />
            </div>
        </div>
        <div class="right">
        	<div class="ui-state-active ui-corner-all" style="margin-top: 20px; padding: 3 .7em;">
				<p>
                <span class="ui-icon ui-icon-transferthick-e-w" style="float: left; margin-right: .3em;"></span>
				交互数据
                </p>
			</div>
            
            <div>
            	<a href="#" id="dialog_link" class="ui-state-default ui-corner-all" title="发送数据请求显示在这里">
                	<span class="ui-icon ui-icon-signal-diag"></span>
                请求数据
                </a>
            </div>
            <div>
            	<textarea id="senddata" class="textarea ui-state-active ui-corner-all" readonly></textarea>
            </div>
            
            <div>
            	<a href="#" id="dialog_link" class="ui-state-default ui-corner-all" title="返回数据结果显示在这里">
                	<span class="ui-icon ui-icon-arrowreturn-1-e"></span>
                返回数据
                </a>
            </div>
            <div id="result-data">
            	<textarea id="requestData" class="textarea1 ui-state-active ui-corner-all" readonly></textarea>
            </div>
        </div>
    </div>
    
    
    <script type="text/javascript">
    	$(document).ready(function(e) {
			$( "[title]" ).tooltip({track: true});
			getini();
			
			$("[value='-']").click(function(){
				var v1 = $(this).attr("l");	//获取到标记
				$("[v='"+v1+"']").remove(); //找到相同标记的对象并做移除操作
			});
			
			$("#addparameter").click(function(){
				addparameter();
			});
        });
		
		//获取配置文件
		function getini(){
			$("#function_library").html("");
			try{
				$.getJSON("{% url get_json %}",function(json){
					//timeout_ = json.timeout;
					for(var i=0; i<json.interfacedata.length;i++){
						var v1 = json.interfacedata[i].name;
						var v2 = json.interfacedata[i].index;
						var option_ele = document.createElement("option");
						$(option_ele).html(v1);
						$(option_ele).val(v2);
						$("#function_library").append(option_ele);
					}
					$("#function_library").bind("change",function(){
						var v3 = $("#function_library").val()	//获取到index
						var v4 = json.interfacedata[v3].url;	//根据v3获取到url
						$("#function_url").val(v4);
					});
					//初始化
					var v3 = $("#function_library").val()	//获取到index
						var v4 = json.interfacedata[v3].url;	//根据v3获取到url
						$("#function_url").val(v4);
				});	
			}catch(e){
				//处理错误
			}
		}
		
		//调用api
		function callapi(){
		    $.post("http://192.168.1.112:8000/api/account/login/", {"email":"xjbean@qq.com", "password":"222222"}, 
		      function(data){
		          if(data.status == 'success') {
		              $("#requestData").html(data);    
		          } else {
		              
		          }
		          
		      }, "json");
		    
		    return;
		    
		    
			//拼接请求数据对外公开显示
			var outData = "\r\n";
			//获取调用方式
			var sendType = $("[name='type']:input:radio:checked").val();
			outData += "请求方式:" + sendType + "\r\n";
			var br = document.createElement("br");
			var sendFunctionUrl = $("#function_url").val();
			outData += "请求地址:" + sendFunctionUrl + "\r\n";
			var time_out = $("#time_out").val();
			outData += "超时时间:" + time_out + "毫秒" + "\r\n";
			var sendAsync = $("[name='async']:input:radio:checked").val();
			outData += "async:" + sendAsync + "\r\n";
			
			
			//获取所有的参数
			//alert(document.getElementsByName("key").item(0).value);
			//创建数组 key
			//var key = new Array();
//			for(var i =0 ; i < document.getElementsByName("key").length; i++){
//				//将每一个key添加到数组中
//				key[i] = document.getElementsByName("key").item(i).value;
//			}
//			//创建数组 val
//			var val = new Array();
//			for(var i=0;i<document.getElementsByName("val").length;i++){
//				//将每一个val添加到数组中
//				val[i] = document.getElementsByName("val").item(i).value;
//			}

			//创建一个json数据链
			var json_data = "{";
			for(var i =0 ; i < document.getElementsByName("key").length; i++){
				//组合json	
				json_data += "\"" + document.getElementsByName("key").item(i).value + "\"" + ":" + "\"" + document.getElementsByName("val").item(i).value + "\"" + ",";
			}
			json_data = json_data.substring(0,json_data.length-1);
			json_data += "}";
			alert("json:"+json_data);
			outData += "发送参数json" + json_data;
			$("#senddata").html(outData);
			
			//发起请求
			$.ajax({
				type:sendType,
				contenttype:"application/x-www-form-urlencoded",
				data:json_data,
				url:sendFunctionUrl, //使用时
				//url:"api.json", //测试时
				async:sendAsync,
				timeout:time_out,
				error: function(){
					$("#requestData").html("\r\n" + "请求出现异常！");
				},
				success: function(data){
					$("#requestData").html(data);
					//$("#requestData").load("api.json");
				}
			});
			// alert(sendFunctionUrl);
			// $.post(sendFunctionUrl,
			//     json_data,
			//     function(data) {
			//         if(data.status == 'success') {
			//          $("#result-data").append(data);
			//          alert(data.status);
			//         } else {
			//             alert(data.status);
			//         }		
			// },"json");
		}
		
		//添加参数
		function addparameter(){
			//读取长度
			var v1 = document.getElementsByName("addparameter").length;
			//创建一个容器div
			var div_ele = document.createElement("div");
			$(div_ele).attr("v",v1);
			//创建一个input key输入框
			var key_ele = document.createElement("input");
			$(key_ele).attr("name","key");
			$(key_ele).addClass("text2 ui-state-active ui-corner-all");
			$(key_ele).attr("title","填写关键key");
			$(div_ele).append(key_ele);
			
			//创建一个input value输入框
			var val_ele = document.createElement("input");
			$(val_ele).attr("name","val");
			$(val_ele).attr("style","margin-left:5px");
			$(val_ele).addClass("text2 ui-state-active ui-corner-all");
			$(val_ele).attr("title","填写关键key对应value");
			$(div_ele).append(val_ele);
			
			//<input l="0" type="button" value="-" class="button ui-state-highlight ui-corner-all " />
			//创建一个input button按钮
			var btn_ele = document.createElement("input");
			$(btn_ele).attr("type","button");	//确定类型
			$(btn_ele).val("-");
			$(btn_ele).addClass("button ui-state-highlight ui-corner-all");
			$(btn_ele).attr("l",v1);
			$(div_ele).append(btn_ele);
			
			$("#key_val").append(div_ele);
			$( "[title]" ).tooltip({track: true});
			
			$("[value='-']").click(function(){
				var v1 = $(this).attr("l");	//获取到标记
				$("[v='"+v1+"']").remove(); //找到相同标记的对象并做移除操作
			});
		}
    </script>
    
{% endblock %}
