<div id="deal">
	<h1>交易完成</h1><br />
	{% for order1 in orders1 %}
		<input data-id="{{order1.id}}" type="checkbox" />
		订单ID：{{order1.id}}<br />
		书籍项目：<br />
		{% for item in order1.getItems %}
			&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}.{{item.book.name}}&nbsp;&nbsp;{{item.amount}}本<br />
		{% endfor %}
		订单总价：{{order1.total_fee}}元<br />
		订单状态：{{order1.status}}<br /><br />
	{% endfor %}
</div>
{% if orders1 %}
	<input type="button" class="mbtn" value="等待发货" onclick="onSend('#deal', 2)"/>
	<input type="button" class="mbtn" value="已发待收" onclick="onSend('#deal', 3)"/>
	<input type="button" class="mbtn" value="取消订单" onclick="onSend('#deal', 0)"/>
	<input type="button" class="mbtn mbtn-danger" value="删除订单" onclick="onSend('#deal', -1)"/><br /><br />
{% endif %}


<div id="preSend">
	<h1>等待发货</h1><br />
	{% for order2 in orders2 %}
		<input data-id="{{order2.id}}" type="checkbox" />
		订单ID：{{order2.id}}<br />
		书籍项目：<br />
		{% for item in order2.getItems %}
			&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}.{{item.book.name}}&nbsp;&nbsp;{{item.amount}}本<br />
		{% endfor %}
		订单总价：{{order2.total_fee}}元<br />
		订单状态：{{order2.status}}<br /><br />
	{% endfor %}<br />
</div>
{% if orders2 %}
	<input type="button" class="mbtn" value="完成交易" onclick="onSend('#preSend', 1)"/>
	<input type="button" class="mbtn" value="已发待收" onclick="onSend('#preSend', 3)"/>
	<input type="button" class="mbtn" value="取消订单" onclick="onSend('#preSend', 0)"/>
	<input type="button" class="mbtn mbtn-danger" value="删除订单" onclick="onSend('#preSend', -1)"/><br /><br />
{% endif %}

<div id="recv">
	<h1>已发待收</h1><br />
	{% for order3 in orders3 %}
		<input data-id="{{order3.id}}" type="checkbox" />
		订单ID：{{order3.id}}<br />
		书籍项目：<br />
		{% for item in order3.getItems %}
			&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}.{{item.book.name}}&nbsp;&nbsp;{{item.amount}}本<br />
		{% endfor %}
		订单总价：{{order3.total_fee}}元<br />
		订单状态：{{order3.status}}<br /><br />
	{% endfor %}<br />
</div>
{% if orders3 %}
	<input type="button" class="mbtn" value="完成交易" onclick="onSend('#recv', 1)"/>
	<input type="button" class="mbtn" value="等待发货" onclick="onSend('#recv', 2)"/>
	<input type="button" class="mbtn" value="取消订单" onclick="onSend('#recv', 0)"/>
	<input type="button" class="mbtn mbtn-danger" value="删除订单" onclick="onSend('#recv', -1)"/><br /><br />
{% endif %}

<div id="cancel">
	<h1>取消</h1><br />
	{% for order0 in orders0 %}
		<input data-id="{{order0.id}}" type="checkbox" />
		订单ID：{{order0.id}}<br />
		书籍项目：<br />
		{% for item in order0.getItems %}
			&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}.{{item.book.name}}&nbsp;&nbsp;{{item.amount}}本<br />
		{% endfor %}
		订单总价：{{order0.total_fee}}元<br />
		订单状态：{{order0.status}}<br /><br />
	{% endfor %}
</div>
{% if orders0 %}
	<input type="button" class="mbtn" value="完成交易" onclick="onSend('#cancel', 1)"/>
	<input type="button" class="mbtn" value="等待发货" onclick="onSend('#cancel', 2)"/>
	<input type="button" class="mbtn" value="已发待收" onclick="onSend('#cancel', 3)"/>
	<input type="button" class="mbtn mbtn-danger" value="删除订单" onclick="onSend('#cancel', -1)"/><br /><br />
{% endif %}




