{% extends "base/theme_base.html" %}

{% block page_title %}设置头像{% endblock %}

{% block style_css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}plug-in/imgareaselect/css/imgareaselect-default.css" />
{% endblock %}

{% block single_js %}
<script src="{{STATIC_URL}}plug-in/imgareaselect/scripts/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript">
			function isNull(){
	                var v1 =document.getElementById("picture").value;
	                if(v1==null || v1=="")
	                {
	                    alert("您还没有选择头像");
	                    return;
	                }
	                document.submit_form.submit();
	        }
	</script>

	<script>	
		$(document).ready(function(){
			$('#xuwanting').imgAreaSelect({ 
			  	minWidth: 50, 
			  	minHeight: 50, 
			  	handles: true,
			  	aspectRatio: '1:1',
			  	x1: 0, y1: 0, x2: 50, y2: 50,
			  	onSelectEnd:function(img,selection){
					$("#x1").val(selection.x1);
					$("#y1").val(selection.y1);
					$("#x2").val(selection.x2);
					$("#y2").val(selection.y2);
			  	}
		  	});	
		  	
		  	$("#open_files").bind("click",function(){
				$("#picture").click();
			});
		});
		
		function change_files(){
			document.submit_form.submit();
		}
</script>
{% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="page-header">
        <h1>设置头像</h1>
    </div>
    <div class="container">
    	<form name="submit_form" action="{% url profiles_initpic %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<img src="{{ MEDIA_URL }}img/{{profile.tmp_pic}}" id="xuwanting" /><br /><br />
		    <input type="file" id="picture" name="picture" onchange="change_files()" style="display: none;" />
		    <a class="btn btn-info" id="open_files" ><i class="icon icon-picture"></i> 选择图片</a>
		</form>
	
		<form action="{% url profiles_setpic %}" method="post">
			{% csrf_token %}
			<div style="display: none">
				<b class="ml5">x1</b><input type="text" size="4" id="x1" name="x1"/>
				<b class="ml5">y1</b><input type="text" size="4" id="y1" name="y1"/>
				<b class="ml5">x2</b><input type="text" size="4" id="x2" name="x2"/>
				<b class="ml5">y2</b><input type="text" size="4" id="y2" name="y2"/>
			</div>
			<!---以上为隐性参数---->
			<p>
				<button type="submit" class="btn btn-success"><i class="icon icon-ok"></i> 确认修改</button>
				<a href="{% url profiles_setting %}" class="cancel">撤销</a>
			</p>
		</form>
    </div>
</div>
{% endblock %}
