{% extends "base/theme_base.html" %}

{% load widget_tweaks %}

{% block page_title %}个人设置{% endblock %}

{% block single_js %}
<script src="{{STATIC_URL}}base/js/plug-in.js"></script>
<script>
	$(document).ready(function(){
		lyu_load();
	});
	
	function doPost(nextUrl){
		$("#tmp_name").val($("[lyu='NickName']").val());
		$("#tmp_desc").val($("[lyu='ProfilesDesc']").val());
		$("#tmp_receiver").val($("[lyu='Receiver']").val());
		$("#tmp_addr").val($("[lyu='Addr']").val());
		$("#tmp_contact").val($("[lyu='Contact']").val());
		$("#next").val(nextUrl);
		$("#tmp_profile").submit(); 
	}
</script>
{% endblock %} 

{% block body_base %}
<div class="row-fluid">
	<form id="tmp_profile" action="{% url 'profiles_save' %}" method="post" style="display:none;">
		{% csrf_token %}
		<input type="text" id="tmp_name" name="tmp_name" />
		<input type="text" id="tmp_receiver" name="tmp_receiver" />
		<input type="text" id="tmp_addr" name="tmp_addr" />
		<input type="text" id="tmp_contact" name="tmp_contact" />
		<input type="text" id="tmp_desc" name="tmp_desc" />
		<input type="text" id="next" name="next" />
	</form>
	<form action="{% url 'profiles_setting' %}" method="post">
		{% csrf_token %}
		<div class="row-fluid">
	    	<div class="span12">
	        	 <div class="page-header">
	                <h1>个性资料</h1>
	            </div>
	            <div class="row-fluid">
		            <div class="span10">
		            	{{form.name|attr:"lyu:NickName"|attr:"bl:NickName_msg"|attr:"placeholder:昵称"|attr:"type:text"}}
					</div>
				</div>
	            <div class="row-fluid">
		            <div class="span10">
		            	{{form.desc|attr:"lyu:ProfilesDesc"|attr:"bl:ProfilesDesc_msg"|attr:"placeholder:个人简介"|attr:"style:height:100px;"}}
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				<ul class="thumbnails">
		          <li class="span12">
		            <a javascript:void(0) lvy="headimg" class="thumbnail" onclick="doPost('{% url 'profiles_initpic' %}');">
		              <img id="preview" src="{{ MEDIA_URL }}img/{{profile.normal_pic}}" alt="个人头像" title="点击修改头像">
		            </a>
		          </li>
		        </ul>
			</div>
		</div>
		
	    <div class="row-fluid">
	    	<div class="span12">
				<div class="page-header">
	                <h1>收货信息</h1>
	            </div>
           		<div class="row-fluid">
                    <div class="span10">
                        {{form.addr|attr:"lyu:Addr"|attr:"bl:Addr_msg"|attr:"placeholder:收货地址"|attr:"type:text"|attr:"class:span12"}}
					</div>
                </div>   
                <div class="row-fluid">
                    <div class="span10">
                    	{{form.receiver|attr:"lyu:Receiver"|attr:"bl:Receiver_msg"|attr:"placeholder:收货人"|attr:"type:text"}}
					</div>
                </div>
                <div class="row-fluid">
                    <div class="span10">
                    	{{form.contact|attr:"lyu:Contact"|attr:"bl:Contact_msg"|attr:"placeholder:联系方式"|attr:"type:text"}}
					</div>
                </div>  
	        </div>
		</div>
		<div class="row-fluid">
	        <div class="span12">
	            <div class="page-header">
	                <h1>安全选项</h1>
	            </div>
	            <p><a class="btn btn-info" javascript:void(0) id="edit_passwod" onclick="doPost('{% url 'acct_change_pwd' %}');">修改密码 &raquo;</a></p>
	        </div>
		</div>
		
		<hr />
		<button class="btn btn-success btn-large pull-right" type="submit" onclick="return check_update()"><i class="icon icon-ok icon-white"></i>完成修改</button>
	</form>
</div>
<br /><br />
{% endblock %}
	