{% extends "base/theme_base.html" %}

{% block page_title %}我的订单{% endblock %}

{% block single_js %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#order_list").delegate("#pre, #next, #num", "click", function(){
			bookPageTurn(this);
		});
		$("#order_list").delegate("#goto_page", "click", function(){
			bookPageTurn(this);
		});
	});
	
	function bookPageTurn(obj){
		var pageIndex = "";
		if($(obj).attr("rel")==="userinput"){
			pageIndex = $("#userinput_page").val();
		}else{
			pageIndex = $(obj).attr("rel");
		}
		$.ajax({
			url: "{% url profiles_order_page %}", 
			data: {"page": pageIndex}, 
			type: "get", 
			async: "true", 
			success: function(data){
				if(data.status=="success"){
					$("#order_list").html(data.html);
				}else{
					alert(data.status);
				}
			}, 
			error: function(){
				alert("error");
			},
			dataType: "json"
		});
	}
	
	function delOrderByProfile(orderId){
		$.ajax({
			url: "{% url profiles_order_del_by_profile %}", 
			data: {"orderId": orderId}, 
			type: "get", 
			async: "true", 
			success: function(data){
				if(data.status=="success"){
					$("#order_"+orderId).hide(300);
					$("#order_list tr[data-order=order_"+ orderId +"]").hide(300);
				}else{
					alert(data.status);
				}
			}, 
			error: function(){
				alert("error");
			},
			dataType: "json"
		});
	}
</script>
{% endblock %}

{% block body_base %}
<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
			<h1>我的订单</h1>
		</div>
		{% if pageItems.object_list %}
			<div id="order_list">
	    		{% include "profiles/includes/order_list.html" %}
	    	</div>
	    {% else %}
	    	<div class="span12 text-center well">
		    	<h3>哎呀！暂时没有订单信息哦！</h3>
		        <h4>去看看有没有喜欢的书？</h4>
		        <a href="{% url welcome %}" class="btn btn-info"><i class="icon-chevron-right icon-white"></i> 去首页</a>
		    </div>
    	{% endif %}
	</div>
</div>
{% endblock %}
