<html>
	<body>
		文学：{{letterPercent}}， {{letterCateCount}}<br />
		小说：{{novelPercent}}， {{novelCateCount}}<br />
		艺术：{{artPercent}}， {{artCateCount}}<br />
		传记：{{bioPercent}}， {{bioCateCount}}<br />
		励志：{{motiPercent}}， {{motiCateCount}}<br />
		应试：{{examPercent}}， {{examCateCount}}<br />
		教材：{{txtbookPercent}}， {{txtbookCateCount}}<br />
		管理：{{managePercent}}， {{manageCateCount}}<br />
		娱乐：{{funPercent}}， {{funCateCount}}<br />
		科技：{{techPercent}}， {{techCateCount}}<br />
		历史：{{historyPercent}}， {{historyCateCount}}<br />
	</body>
</html>