{% extends "base/manage_base.html" %}
	
{% block page_title %}更新订单{% endblock %}
	
{% block single_js %}
	<script type="text/javascript" src="{{STATIC_URL}}base/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}base/js/secure.js"></script>
	<script type="text/javascript">
		function onSend(o, status){
			var temp = "";
			$.each($(o+" :checked"),function(j,k){
				temp += $(k).attr("data-id") + " ";
			});
			
			$.ajax({
				url: "/manage/update_orders/", 
				data: {'orderIds': temp, 'status': status}, 
				type: "post", 
				async: "true", 
				success: function(data){
					if(data.status=="success"){
						$("#all_orders").html(data.html);
					}
					else{
						alert(data.status);
					}
				}, 
				error: function(){
					alert("error");
				}, 
				dataType: "json"				
			});
		}
	</script>
{% endblock %}
	
{% block body_base %}
<div id="all_orders">
	{% include "sites/includes/all_orders.html" %}
</div>
{% endblock %}
