{% extends "base/theme_base.html" %}

{% block page_title %}欢迎光临{% endblock %}

{% block single_js %}
<script type="text/javascript" src="{{STATIC_URL}}base/js/secure.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#all_books").delegate("#pre, #next, #num", "click", function(){
			bookPageTurn(this);
		});
		$("#all_books").delegate("#goto_page", "click", function(){
			bookPageTurn(this);
		});
	});
	
	function bookPageTurn(obj){
		var pageIndex = "";
		if($(obj).attr("rel")==="userinput"){
			pageIndex = $("#userinput_page").val();
		}else{
			pageIndex = $(obj).attr("rel");
		}
		$.ajax({
			url: "/books/page_all_books/", 
			data: {"page": pageIndex, "cateName": $("#cate_name").val()}, 
			type: "get", 
			async: "true", 
			success: function(data){
				if(data.status=="success"){
					$("#all_books").html(data.html);
				}else{
					alert(data.status);
				}
			}, 
			error: function(){
				alert("error");
			},
			dataType: "json"
		});
	}
	
	function getByCate(key, cateName,o){
		//$("[id*=cate]").removeClass("active");
		$(o).parent().siblings().removeClass("active");
		$(o).parent().addClass("active");
		$.ajax({
			url: "/books/getbycate/"+cateName,
			data: {'key': key},
			type: "get",
			async: "true",
			success: function(data){
				if(data.status=="success"){
					$("#all_books").html(data.html);
					$("#hot_two").html(data.html2);
				}else{
					alert(data.status);
				}
			},
			error: function(){
				alert("error");
			},
			dataType: "json"
		});
	}
	
	function addToCart(bookId){
		$.ajax({
			url: "/books/add_to_cart/" + bookId,
			data: {}, 
			type: "post",
			async: "true", 
			success: function(data){
				if(data.status=="success"){
					$("#add_"+bookId).hide();
					$("#added_"+bookId).show();
				}
				else{
					alert(data.status);
				}
			},
			error: function(){
				alert("error");
			}, 
			dataType: "json"
		});
	}
</script>
{% endblock %}

{% block body_base %}
	<!-- 火爆数据 -->
	<div class="row">
    	<div class="span12">
        	<ul class="thumbnails">
        	{% for book in bestsellers %}
              <li class="span2">
                <a href="{% url book_detail book.id %}" class="thumbnail">
                  <img src="{{ MEDIA_URL }}img/{{book.spic}}" alt="" title="{{book.name}}">
                </a>
              </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="row">
    	<div class="span4">
        	<ul class="nav nav-pills nav-stacked">
            	<li id="cate_0" class="active"><a href="##" onclick="getByCate('soldCount', 'all',this)">全部</a></li>
            	{% for cate in allCates %}
					<li id="cate_{{cate.id}}"><a href="##" onclick="getByCate('soldCount', '{{cate.name}}',this)">{{cate.label}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span8">
        	<ul class="thumbnails" id="hot_two">
              {% include "base/hot_two_books.html" %}
			</ul>
        </div>
    </div>
    
    <div id="all_books">
		{% include "base/books_list.html" %}
	</div>
{% endblock %}
