{% extends "base/theme_base_v2.html" %}

{% block page_title %}欢迎光临{% endblock %}

{% block body_base %}
	<!-- 火爆数据 -->
	<div class="row">
    	<div class="span12">
        	<ul class="thumbnails">
        	{% for book in bestsellers %}
              <li class="span2">
                <a href="#" class="thumbnail">
                  <img src="static/base/img/de.png" alt="">
                </a>
              </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="row">
    	<div class="span4">
        	<ul class="nav nav-pills nav-stacked">
            	<li class="active"><a href="##" onclick="getByCate('all')">全部</a></li>
            	{% for cate in allCates %}
              	  <li><a href="##" onclick="getByCate('{{cate.name}}')">{{cate.label}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span8">
        	<ul class="thumbnails" id="hot_two">
              {% include "base/hot_two_books.html.html" %}
			</ul>
        </div>
    </div>
    
	<div class="row">
		<div class="span12">
		    <ul class="breadcrumb">
		        <li><a href="#">销售</a> <span class="divider">|</span></li>
		        <li><a href="#">价格</a> <span class="divider">|</span></li>
		        <li><a href="#">评论数</a> <span class="divider">|</span></li>
		        <li><a href="#">上架时间</a> <span class="divider">|</span></li>
		        <li><a href="#">出版时间</a> <span class="divider">|</span></li>
		    </ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
		    <table class="table">
		    	<tbody>
		        	<tr>
		            	<td>
		                    <ul class="thumbnails">
		                        <li class="span2">
		                        <a href="#" class="thumbnail">
		                            <img src="static/base/img/de.png" alt="">
		                        </a>
		                    </li>
		                </td>
		                <td>
		                	大话西游（上）
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
{% endblock %}
