<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎光临 BookStore</title>
<link type="text/css" rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
<script src="static/jquery/jquery-1.8.3.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="container">
<!-- 导航 -->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">BookStore</a>
        <ul class="nav pull-right">
          <li><a href="#"><i class="icon-user icon-white"></i> 登录</a></li>
          <!-- 登录后显示此li 开始 -->          
          <li>
          	<ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                您好: Yang.Lyu
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">登录后显示</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-wrench"></i> 个人设置</a></li>
                    <li><a href="#"><i class="icon-list"></i> 购物清单</a></li>
                    <li><a href="#"><i class="icon-off"></i> 离开</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- 登录后显示此li 结束 -->
        </ul>
        <form class="navbar-search pull-right">
		    <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
    </div>
<!-- 火爆数据 -->
	<div class="row">
    	<div class="span12">
        	<ul class="thumbnails">
              <li class="span2">
                <a href="#" class="thumbnail">
                  <img src="static/base/img/de.png" alt="">
                </a>
              </li>
              <li class="span2">
                <a href="#" class="thumbnail">
                  <img src="static/base/img/de.png" alt="">
                </a>
              </li>
              <li class="span2">
                <a href="#" class="thumbnail">
                  <img src="static/base/img/de.png" alt="">
                </a>
              </li>
              <li class="span2">
                <a href="#" class="thumbnail">
                  <img src="static/base/img/de.png" alt="">
                </a>
              </li>
              <li class="span2">
                <a href="#" class="thumbnail">
                  <img src="static/base/img/de.png" alt="">
                </a>
              </li>
              <li class="span2">
                <a href="#" class="thumbnail">
                  <img src="static/base/img/de.png" alt="">
                </a>
              </li>
            </ul>
        </div>
    </div>
<!-- 导航 -->
	<div class="row">
    	<div class="span4">
        	<ul class="nav nav-pills nav-stacked">
            	<li class="active"><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
                <li><a href="#">全部</a></li>
            </ul>
        </div>
        <div class="span8">
        	<ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img src="static/base/img/de2.png" alt="">
                  <div class="caption">
                    <h3>侦探福尔摩斯</h3>
                    <p>在风雨交加的深夜，一个阴森幽暗的空宅里，一具龇牙咧嘴、面目狰狞的死尸直挺挺地躺在地上。身边的墙上写着两个血字——“复仇”</p>
                    <p><a href="#" class="btn btn-primary"><i class="icon-barcode icon-white"></i> 详情</a> <a href="#" class="btn"><i class="icon-shopping-cart"></i>  加入购物车</a></p>
                  </div>
                </div>
              </li>
              
              <li class="span4">
                <div class="thumbnail">
                  <img src="static/base/img/de2.png" alt="">
                  <div class="caption">
                    <h3>侦探福尔摩斯</h3>
                    <p>在风雨交加的深夜，一个阴森幽暗的空宅里，一具龇牙咧嘴、面目狰狞的死尸直挺挺地躺在地上。身边的墙上写着两个血字——“复仇”</p>	
                    <p><a href="#" class="btn btn-primary"><i class="icon-barcode icon-white"></i> 详情</a> <a href="#" class="btn"><i class="icon-shopping-cart"></i>  加入购物车</a></p>
                  </div>
                </div>
              </li>
              
			</ul>
        </div>
    </div>
<!-- 当前当行选中项下的书籍 -->    
	<div class="row">
    	<div class="span12">
            <ul class="breadcrumb">
                <li><a href="#">销售</a> <span class="divider">|</span></li>
                <li><a href="#">价格</a> <span class="divider">|</span></li>
                <li><a href="#">评论数</a> <span class="divider">|</span></li>
                <li><a href="#">上架时间</a> <span class="divider">|</span></li>
                <li><a href="#">出版时间</a> <span class="divider">|</span></li>
            </ul>
        </div>
    </div>
    <div class="row">
    	<div class="span12">
            <table class="table">
            	<tbody>
                	<tr>
                    	<td>
                            <ul class="thumbnails">
                                <li class="span2">
                                <a href="#" class="thumbnail">
	                                <img src="static/base/img/de.png" alt="">
                                </a>
                            </li>
                        </td>
                        <td>
                        	大话西游（上）
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>