{% extends "base/theme_base.html" %}
<!-- Other Page Single Title Name
	==============-->
{% block page_title %}Book Store{% endblock %}
<!-- Other Page Single Javascript File
	==============-->
{% block single_js %}
<script type="text/javascript" src="{{STATIC_URL}}base/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}base/js/main.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#all_books").delegate("#pre, #next, #num", "click", function(){
			bookPageTurn(this);
		});
		$("#all_books").delegate("#goto_page", "click", function(){
			bookPageTurn(this);
		});
	});
	
	function bookPageTurn(obj){
		var pageIndex = "";
		if($(obj).attr("rel")==="userinput"){
			pageIndex = $("#userinput_page").val();
		}else{
			pageIndex = $(obj).attr("rel");
		}
		$.ajax({
			url: "/books/page_all_books/", 
			data: {"page": pageIndex}, 
			type: "get", 
			async: "true", 
			success: function(data){
				if(data.status=="success"){
					$("#all_books").html(data.html);
				}else{
					alert(data.status);
				}
			}, 
			error: function(){
				alert("error");
			},
			dataType: "json"
		});
	}
</script>
{% endblock %}
<!-- Other Page Single Style File
	==============-->
{% block style_css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base/css/main.css" />
{% endblock %}

{% block body_base %}		
<div class="main">
	<!-- books type
		==============-->
	{% include "base/book_type.html" %}
	<!-- books recommend
		==============-->
	{% include "base/recommend.html" %}
	<!-- books list
		==============-->
	{% include "base/books_list.html" %}
</div>
{% endblock %}