{% extends "base/theme_base_lyu.html" %}

{% load widget_tweaks %}

{% block title %}设置新密码{% endblock %}

{% block body %}
<div class="container">
{% if token_fail %}
    <p>密码重置链接无效.  请重新点击链接:</p> 
    <p>&nbsp;&nbsp;<a href="{% url acct_reset_passwd %}">&nbsp;重置密码</a>.</p>
{% else %}
    {% if form %}
        <form method="POST" action="" class="form-common">
            {% csrf_token %}
            
            <div class="input-prepend">
           		<span class="add-on"><i class="icon-lock"></i> 新密码</span>{{ form.password1|attr:"lyu:Password"|attr:"bl:Password_msg"|attr:"style:margin:0px;"|attr:"placeholder:新密码" }}
           		<label id="Password_msg" class="help-inline error_msg"></label>
           		{{form.password1.errors}}
            </div>
            <div class="input-prepend">
            	<span class="add-on"><i class="icon-lock"></i> 重&nbsp;&nbsp;&nbsp;复</span>{{ form.password2|attr:"lyu:PasswordConfirm"|attr:"bl:PasswordConfirm_msg"|attr:"style:margin:0px;"|attr:"placeholder:重复密码" }}
            	<label id="PasswordConfirm_msg" class="help-inline error_msg"></label>
            	{{form.password2.errors}}
            </div>         
            <br /><br />
            <div class="input-prepend">
            	<input type="submit" value="设置" id="reg-submit" />
            </div>
        </form>
    {% else %}
        <a href="{% url acct_login %}">点击登录</a>    
    {% endif %}
{% endif %}
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{STATIC_URL}}lyu/plug-in.js"></script>
<script>
	$(document).ready(function(){
		lyu_load();
	});
</script>
{%endblock%}
