{% extends "base/theme_base_lyu.html" %}

{% block message %} {% include "base/messages.html" %}  {% endblock %}

{% block extra_css %}
<link type="text/css" href="{{ STATIC_URL }}jcrop/css/jcrop.css" rel="stylesheet" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}jcrop/jcrop/jquery.Jcrop.js"></script>
<script type="text/javascript" >
        function isNull(){
                var v1 =document.getElementById("poster").value;
                if(v1==null || v1=="")
                {
                    alert("您还没有选择海报图片");
                    return;
                }
                document.submit_form.submit();
        }
</script>
    
<script>
    $(document).ready(function(){
		//$("input[type='submit'],input[type='button']").button();
		$("#xuwanting").Jcrop({
			setSelect: [0 ,0,100,100], //初始位置
			allowResize:true,
			onChange:showPreview,
			onSelect:showPreview,
			aspectRatio:1,
			minSize:[30, 30]
			//maxSize:[120, 120]
		});	
	});
	//响应自onChange,onSelect事件
	function showPreview(coords){
		if(parseInt(coords.w) > 0){
			//计算预览区域图片缩放的比例，通过计算显示区域的宽度(与高度)与剪裁的宽度(与高度)之比得到
			var rx = $("#preview_box").width() / coords.w; 
			var ry = $("#preview_box").height() / coords.h;
			//通过比例值控制图片的样式与显示
			$("#crop_preview").css({
				width:Math.round(rx * $("#xuwanting").width()) + "px",		//预览图片 宽 度为计算比例值与原图片宽度的乘积
				height:Math.round(rx * $("#xuwanting").height()) + "px",	//预览图片 高 度为计算比例值与原图片高度的乘积
				marginLeft:"-" + Math.round(rx * coords.x) + "px",
				marginTop:"-" + Math.round(ry * coords.y) + "px"
			});
			$("#x1").val(coords.x);
			$("#y1").val(coords.y);
			$("#x2").val(coords.x2);
			$("#y2").val(coords.y2);
			$("#w").val(coords.w);
			$("#h").val(coords.h);
			$("#rx").val(rx);
			$("#ry").val(ry);
		}
	}
</script>
<style type="text/css">
	.crop_preview{position:absolute; left:800px; top:100px; width:64px; height:64px; overflow:hidden;}
</style>
    
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="span5">
			<form action="{% url activity_upload_poster %}" method="post" enctype="multipart/form-data" name="submit_form">
		    {% csrf_token %}
		        <div style="width:500px;">
		            <div id="span-poster"><img id="xuwanting" src="{{ MEDIA_URL }}img/{{tmp_poster}}" /></div>
		            <input lvy="poster_img" type="file"  id="poster" name="poster" accept="image/gif, image/jpeg ,image/png" />
		            <br /><br /><br />
		            <font size="2px">点击浏览，从您的电脑中选择一张大小不超过5M的图片作为活动海报，仅支持JPG, PNG, BMP格式文件</font>
		        </div>
		    </form>
		    <input class="btn btn-info" id="upload-poster" type="button" value="上传海报" onclick="isNull()">
    		<a class="btn btn-info" href="{% url activity_create_done %}" title="">以后再说</a> 
		</div>
		<div class="span5">
			<form action="{% url activity_set_poster %}" method="post">
		    {% csrf_token %}
		    <div style="display:none;">
				<b>x1</b><input type="text" size="4" id="x1" name="x1"/>
				<b class="ml5">y1</b><input type="text" size="4" id="y1" name="y1"/>
				<b class="ml5">x2</b><input type="text" size="4" id="x2" name="x2"/>
				<b class="ml5">y2</b><input type="text" size="4" id="y2" name="y2"/>
				<b class="ml5">w</b><input type="text" size="4" id="w" />
				<b class="ml5">h</b><input type="text" size="4" id="h" />
				<b class="ml5">rx</b><input type="text" size="4" id="rx" />
				<b class="ml5">ry</b><input type="text" size="4" id="ry" />		
			</div>
			<!---以上为隐性参数---->
		    <div style="margin:0px auto; width:400px;">
		        <span id="preview_box" class="crop_preview">
		        	<img id="crop_preview" src="{{ MEDIA_URL }}img/{{tmp_poster}}" />
		        </span>
		    </div>
				<input class="btn btn-info" type="submit" value="保存海报" />
			   <a href="#" class="btn btn-info">活动预览</a>
		    </form>	
		</div>
	</div>
    
    <hr/>
</div>    
{% endblock %}