<div>
	<div>
		{% ifnotequal pageItems.paginator.num_pages 1 %}
		
			{% if pageItems.has_previous %}
				<a id="pre" href="##" rel="{{pageItems.previous_page_number}}">←</a>
			{% endif %}
			
			{% for i in pageRange %}
				{% ifequal i pageItems.number %}
					{{i}}
				{% else %}
					<a id="num" href="##" rel="{{i}}">{{i}}</a>
				{% endifequal %}
			{% endfor %}
			
			{% if pageItems.has_next %}
				<a id="next" href="##" rel="{{pageItems.next_page_number}}">→</a>
				{% endif %}
			
		{% endifnotequal %}
	</div>
	<div>
		共{{ pageItems.paginator.num_pages }}页 到第 <input id="userinput_page" name="textfield" type="text" style="width: 25px;" /> 页
		<a id="goto_page" rel="userinput"><input type="button" value="走你"/></a>
	</div>
</div>