<table class="table table-hover">
	<thead>
		{% if cart.getBooks %}
        <tr>
            <th class="span2">#</th>
            <th class="span3">书名</th>
            <th class="span2">单价</th>
            <th class="span2">数量</th>
            <th class="span2">删除</th>
        </tr>
        {% endif %}
    </thead>
	<tbody>
		<form id='form_cart'>
			{% for item in cart.getItems %}
			<tr>
		        <td>
		        	<ul class="thumbnails">
		              <li class="span12">
		                <a href="{% url book_detail item.book_id %}" class="thumbnail">
		                  <img src="{{ MEDIA_URL }}img/{{item.book.spic}}" alt="">
		                </a>
		              </li>
		            </ul>
		        </td>
		        <td>{{item.book.name}}</td>
		        <td>{{item.book.price}}元</td>
		        <input type="hidden" id="price_{{item.book_id}}" value="{{item.book.price}}"/>
		        <td>
		        	<div class="input-prepend input-append">
		              <span class="add-on btn" onclick="minus({{item.book_id}})">-</span>
		              <input class="span2 text-center" id="amount_{{item.book_id}}" name="amount_{{item.book_id}}" type="text" value="{{item.amount}}" onchange="countPartFee({{item.book_id}})" onkeyup="countPartFee({{item.book_id}})">
		              <span class="add-on btn" onclick="plus({{item.book_id}})">+</span>
		              <label class="PartFee" id="part_fee_{{item.book_id}}" style="display: none;">{{item.book.price}}</label>&nbsp;&nbsp;
		            </div>
		        </td>
		        <td><a class="btn btn-danger" onclick="delFromCart({{item.book_id}})"><i class="icon-remove icon-white"></i> 删除</a></td>
		    </tr>
			{% endfor %}
		</form>
	</tbody>
</table>
{% if not cart.getBooks %}
	您的购物车空空如也，快去选书吧！
{% else %}
	<hr />
	<div class="row-fluid">
        <h4 class="pull-left">总价：<a id="total_fee">{{cart.getTotalFee}}</a>元</h4>
        <a class="btn btn-info btn-large pull-right" onclick="makeOrder()"><i class="icon-ok-sign icon-white"></i> 结算</a>
    </div>
{% endif %}

<script type="text/javascript">
	function countPartFee(bookId){
		var amount = parseFloat($("#amount_"+bookId).val());
		var partFee = parseFloat($("#price_"+bookId).val())*amount;
		$("#part_fee_"+bookId).text(partFee.toFixed(1)+"");
		countTotalFee();
	}
	function countTotalFee(){
		var partFees = $(".PartFee");
		var totalFee = 0.0;
		for(i=0; i<partFees.length; i++){
			totalFee += parseFloat($(partFees[i]).text());
		}
		$("#total_fee").html(totalFee.toFixed(1)+"");
	}
	//本数-1
	function minus(bookId){
		var amount = parseInt($("#amount_"+bookId).val());
		if(amount < 1){
			alert("请输入正确的数量");
			return false
		}
		else if(amount == 1){
			alert("不想买的话请点删除");
			return false;
		}
		else{
			$("#amount_"+bookId).val((amount-1)+"");
			countPartFee(bookId);
		}
	}
	//本数+1
	function plus(bookId){
		var amount = parseInt($("#amount_"+bookId).val());
		if(amount < 1){
			alert("请输入正确的数量");
			return false
		}
		else if(amount == 100){
			alert("单笔订单不能大于100本");
			return false;
		}
		else{
			$("#amount_"+bookId).val((amount+1)+"");
			countPartFee(bookId);
		}
	}
</script>
