<div>
	<div>
		{% ifnotequal pageItems.paginator.num_pages 1 %}
		<ul>
			{% if pageItems.has_previous %}
				<li><a href="##" id="pre" rel="{{pageItems.previous_page_number}}">&laquo;</a></li>
			{% else %}
				<li class="disabled"><a>&laquo;</a></li>
			{% endif %}
			
			{% for i in pageRange %}
				{% ifequal i pageItems.number %}
					<li class="active"><a>{{i}}</a></li>
				{% else %}
					<li><a href="##" id="num" rel="{{i}}">{{i}}</a></li>
				{% endifequal %}
			{% endfor %}
			
			{% if pageItems.has_next %}
				<li><a href="##" id="next" rel="{{pageItems.next_page_number}}">&raquo;</a></li>
			{% else %}
				<li class="disabled"><a>&raquo;</a></li>
			{% endif %}
		</ul>
		{% endifnotequal %}
	</div>
	
	<div>
		<label class="label">共{{ pageItems.paginator.num_pages }}页</label> 到第 <input id="userinput_page" name="textfield" type="text" style="width: 25px;" /> 页
		<a id="goto_page" rel="userinput"><button class="btn btn-info">Go</button></a>
	</div>
</div>