<html>
	<body>
		{% for book in cart.getBooks %}
			<a href="{% url book_detail book.id %}"><img src="{{ MEDIA_URL }}img/{{book.spic}}" /></a>&nbsp;&nbsp;
			<a href="{% url book_detail book.id %}">《{{book.name}}》</a>&nbsp;&nbsp;
			{{book.price}}元&nbsp;&nbsp;
			<input type="hidden" id="price_{{book.id}}" value="{{book.price}}"/>
			<a href="##" onclick="minus({{book.id}})">-1</a>
			<input type="text" id="amount_{{book.id}}" name="amount" value="1" style="width:30;" onchange="countPartFee({{book.id}})" onkeyup="countPartFee({{book.id}})"/>
			<a href="##" onclick="plus({{book.id}})">+1</a>&nbsp;&nbsp;
			小计：<label class="PartFee" id="part_fee_{{book.id}}">{{book.price}}</label>&nbsp;&nbsp;
			<a href="##" onclick="delFromCart({{book.id}})">删除</a>
			<br /><br />
		{% endfor %}
		<br /><br /><br />
		共计：<label id="total_fee">{{cart.getTotalFee}}</label>元
		<script type="text/javascript">
			function countPartFee(bookId){
				var amount = parseInt($("#amount_"+bookId).val());
				var partFee = parseFloat($("#price_"+bookId).val())*amount;
				$("#part_fee_"+bookId).html(partFee+"");
				countTotalFee();
			}
			function countTotalFee(){
				var partFees = $(".PartFee");
				var totalFee = parseFloat($("#total_fee").text());
				for(i=0; i<partFees.length; i++){
					totalFee += parseFloat($(partFees[i]).text());
				}
				$("#total_fee").html(totalFee+"");
			}
			//本数-1
			function minus(bookId){
				var amount = parseInt($("#amount_"+bookId).val());
				if(amount < 1){
					alert("请输入正确的数量");
					return false
				}
				else if(amount == 1){
					alert("不想买的话请点删除");
					return false;
				}
				else{
					$("#amount_"+bookId).val((amount-1)+"")
				}
			}
			//本数+1
			function plus(bookId){
				var amount = parseInt($("#amount_"+bookId).val());
				if(amount < 1){
					alert("请输入正确的数量");
					return false
				}
				else if(amount == 100){
					alert("单笔订单不能大于100本");
					return false;
				}
				else{
					$("#amount_"+bookId).val((amount+1)+"")
				}
			}
		</script>
	</body>
</html>