{% for cmt in allPageItems.object_list %}
    <div class="media">
        <a class="pull-left span2 text-center">
        	<img src="{{ MEDIA_URL }}img/{{cmt.owner.normal_pic}}" alt=""><br />
        	<label>{{cmt.owner.name}}</label>
        </a>
        <div class="media-body well">
            <p>{{cmt.content}}</p>
        </div>
    </div>
{% endfor %}

<div class="pagination pull-right">
{% if allPageItems.object_list %}
	{% ifnotequal allPageItems.paginator.num_pages 1 %}
	<ul>
		{% if allPageItems.has_previous %}
			<li><a javascript:void(0) id="all_up" rel="{{allPageItems.previous_page_number}},all">&laquo;</a></li>
		{% else %}
			<li class="disabled"><a>&laquo;</a></li>
		{% endif %}
		
		{% for i in allPageRange %}
			{% ifequal i allPageItems.number %}
				<li class="active"><a>{{i}}</a></li>
			{% else %}
				<li><a javascript:void(0) id="all_num" rel="{{i}},all">{{i}}</a></li>
			{% endifequal %}
		{% endfor %}
		
		{% if allPageItems.has_next %}
			<li><a javascript:void(0) id="all_down" rel="{{allPageItems.next_page_number}},all">&raquo;</a></li>
		{% else %}
			<li class="disabled"><a>&raquo;</a></li>
		{% endif %}
	</ul>
	{% endifnotequal %}
{% endif %}
</div>