{% for cmt in negativePageItems.object_list %}
    <div class="media">
        <a class="pull-left span2 text-center">
        	<img src="{{ MEDIA_URL }}img/{{cmt.owner.normal_pic}}" alt=""><br />
        	<label>{{cmt.owner.name}}</label>
        </a>
        <div class="media-body well">
            <p>{{cmt.content}}</p>
        </div>
    </div>
{% endfor %}

<div class="pagination pull-right">
{% if negativePageItems.object_list %}
	{% ifnotequal negativePageItems.paginator.num_pages 1 %}
	<ul>
		{% if negativePageItems.has_previous %}
			<li><a javascript:void(0) id="negative_up" rel="{{negativePageItems.previous_page_number}},negative">&laquo;</a></li>
		{% else %}
			<li class="disabled"><a>&laquo;</a></li>
		{% endif %}
		
		{% for i in negativePageRange %}
			{% ifequal i negativePageItems.number %}
				<li class="active"><a>{{i}}</a></li>
			{% else %}
				<li><a javascript:void(0) id="negative_num" rel="{{i}},negative">{{i}}</a></li>
			{% endifequal %}
		{% endfor %}
		
		{% if negativePageItems.has_next %}
			<li><a javascript:void(0) id="negative_down" rel="{{negativePageItems.next_page_number}},negative">&raquo;</a></li>
		{% else %}
			<li class="disabled"><a>&raquo;</a></li>
		{% endif %}
	</ul>
	{% endifnotequal %}
{% endif %}
</div>