{% for cmt in normalPageItems.object_list %}
    <div class="media">
        <a class="pull-left span2 text-center">
        	<img src="{{ MEDIA_URL }}img/{{cmt.owner.normal_pic}}" alt=""><br />
        	<label>{{cmt.owner.name}}</label>
        </a>
        <div class="media-body well">
            <p>{{cmt.content}}</p>
        </div>
    </div>
{% endfor %}

<div class="pagination pull-right">
	{% ifnotequal normalPageItems.paginator.num_pages 1 %}
	<ul>
		{% if normalPageItems.has_previous %}
			<li><a href="##" id="normal_up" rel="{{normalPageItems.previous_page_number}},normal">&laquo;</a></li>
		{% else %}
			<li class="disabled"><a>&laquo;</a></li>
		{% endif %}
		
		{% for i in normalPageRange %}
			{% ifequal i normalPageItems.number %}
				<li class="active"><a>{{i}}</a></li>
			{% else %}
				<li><a href="##" id="normal_num" rel="{{i}},normal">{{i}}</a></li>
			{% endifequal %}
		{% endfor %}
		
		{% if normalPageItems.has_next %}
			<li><a href="##" id="normal_down" rel="{{normalPageItems.next_page_number}},normal">&raquo;</a></li>
		{% else %}
			<li class="disabled"><a>&raquo;</a></li>
		{% endif %}
	</ul>
	{% endifnotequal %}
</div>